/
*
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
*
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
file
*
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
*
/
keyframes
springUp
{
from
{
opacity
:
0
;
transform
:
translateY
(
40px
)
;
}
to
{
opacity
:
1
;
transform
:
translateY
(
0
)
;
}
}
#
multi
-
stage
-
message
-
root
{
#
mainContentHeader
{
opacity
:
0
;
animation
:
springUp
0
.
5s
ease
-
out
forwards
;
animation
-
delay
:
0
.
3s
;
background
:
linear
-
gradient
(
91deg
#
7630c0
22
.
04
%
#
5c66ee
78
.
7
%
)
;
-
webkit
-
background
-
clip
:
text
;
background
-
clip
:
text
;
-
webkit
-
text
-
fill
-
color
:
transparent
;
}
.
main
-
content
.
section
-
main
.
screen
.
dialog
-
initial
.
onboardingContainer
{
box
-
shadow
:
none
;
}
.
onboardingContainer
.
screen
[
pos
=
"
center
"
]
{
background
-
color
:
transparent
;
}
button
.
primary
{
display
:
none
;
}
}
