/
*
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
*
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
*
file
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
*
/
#
include
<
windows
.
h
>
#
include
"
nsNativeAppSupportWin
.
h
"
IDI_APPICON
ICON
FIREFOX_ICO
IDI_DOCUMENT
ICON
DOCUMENT_ICO
IDI_APPLICATION
ICON
FIREFOX_ICO
IDI_NEWWINDOW
ICON
NEWWINDOW_ICO
IDI_NEWTAB
ICON
NEWTAB_ICO
IDI_PBMODE
ICON
PBMODE_ICO
IDI_DOCUMENT_PDF
ICON
DOCUMENT_PDF_ICO
IDI_CUSTOM_RETRO2004
ICON
CUSTOM_RETRO2004_ICO
IDI_CUSTOM_RETRO2017
ICON
CUSTOM_RETRO2017_ICO
IDI_CUSTOM_PRIDE
ICON
CUSTOM_PRIDE_ICO
IDI_CUSTOM_MINIMAL_DARK
ICON
CUSTOM_MINIMAL_DARK_ICO
IDI_CUSTOM_MINIMAL_LIGHT
ICON
CUSTOM_MINIMAL_LIGHT_ICO
IDI_CUSTOM_PIXELATED
ICON
CUSTOM_PIXELATED_ICO
IDI_CUSTOM_MOMO
ICON
CUSTOM_MOMO_ICO
IDI_CUSTOM_KIT
ICON
CUSTOM_KIT_ICO
STRINGTABLE
DISCARDABLE
BEGIN
IDS_STARTMENU_APPNAME
"
MOZ_APP_DISPLAYNAME
"
END
