<
!
DOCTYPE
html
>
<
html
class
=
"
reftest
-
wait
"
>
<
head
>
<
style
>
*
{
white
-
space
:
pre
;
padding
:
1px
30
%
35
%
;
scroll
-
snap
-
type
:
block
proximity
;
overflow
-
y
:
hidden
!
important
;
scroll
-
snap
-
align
:
center
;
scroll
-
margin
-
block
-
end
:
100vmax
;
}
<
/
style
>
<
/
head
>
<
body
>
<
\
n
\
r
0
)
0
\
r
\
r
\
n
\
uDCFFN
&
=
0
N
\
n
\
r
2
\
r0
<
\
uDB3A
-
D
4
k
'
hidden
draggable
=
'
false
'
title
=
'
]
{
+
-
cH
\
n
\
uDC1D
\
uDC1D
I
+
?
.
9
.
\
r
(
\
r
^
2
\
f
\
n
\
r
\
n
4R
]
+
=
+
90a
\
uDC1D
c
b
i
\
u202F
-
\
uDC1D
\
r0
'
itemid
=
'
\
r
\
n
2R
%
!
0
U
%
\
0
'
translate
=
'
no
'
autocapitalize
=
'
words
'
spellcheck
=
'
false
'
accesskey
=
'
&
'
>
<
i
id
=
'
id_0
'
tabindex
=
'
32
'
>
<
/
del
>
<
/
i
>
<
script
>
document
.
addEventListener
(
'
DOMContentLoaded
'
(
)
=
>
{
document
.
getElementById
(
'
id_0
'
)
.
focus
(
{
}
)
;
setTimeout
(
(
)
=
>
{
document
.
documentElement
.
className
=
"
"
;
}
1000
)
;
}
)
;
<
/
script
>
<
/
body
>
<
/
html
>
