<
html
style
=
"
white
-
space
:
pre
;
-
moz
-
column
-
count
:
2
;
"
>
<
body
onload
=
"
document
.
body
.
style
.
MozFloatEdge
=
'
margin
-
box
'
;
"
style
=
"
-
moz
-
column
-
width
:
20em
;
"
>
<
div
style
=
"
position
:
relative
;
height
:
80px
;
margin
:
10px
;
"
>
g
C
o
&
amp
;
O
v
E
XO
s
M
Y
H
U
J
_
-
Z
+
:
E
2
kJP
cJ
=
.
x
!
M
]
Y
[
4
}
dd
:
eh
p
K
}
&
gt
;
a
~
A
j
&
amp
;
k
qs
B
J
=
E
<
div
style
=
"
position
:
absolute
;
height
:
11px
;
top
:
19px
;
"
>
<
/
div
>
<
/
div
>
<
/
body
>
<
/
html
>
