<
!
DOCTYPE
html
PUBLIC
"
-
/
/
W3C
/
/
DTD
XHTML
1
.
0
Transitional
/
/
EN
"
"
http
:
/
/
www
.
w3
.
org
/
TR
/
xhtml1
/
DTD
/
xhtml1
-
transitional
.
dtd
"
>
<
html
xmlns
=
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
xml
:
lang
=
"
en
-
gb
"
lang
=
"
en
-
gb
"
>
<
head
>
<
meta
http
-
equiv
=
"
content
-
type
"
content
=
"
text
/
html
;
charset
=
utf
-
8
"
/
>
<
style
>
#
work_area
{
-
moz
-
background
-
clip
:
border
;
-
moz
-
background
-
inline
-
policy
:
continuous
;
-
moz
-
background
-
origin
:
padding
;
background
-
attachment
:
scroll
;
background
-
color
:
transparent
;
float
:
left
;
padding
-
left
:
5px
;
padding
-
right
:
5px
;
width
:
980px
;
background
-
color
:
#
F1F5F8
;
}
#
footer
{
-
moz
-
background
-
clip
:
border
;
-
moz
-
background
-
inline
-
policy
:
continuous
;
-
moz
-
background
-
origin
:
padding
;
background
-
attachment
:
scroll
;
background
-
color
:
transparent
;
background
-
image
:
url
(
.
.
/
images
/
footer
.
gif
)
;
background
-
position
:
0
0
;
background
-
repeat
:
no
-
repeat
;
float
:
left
;
width
:
1003px
;
height
:
53px
;
background
-
color
:
#
467618
;
}
#
bottommenu
{
float
:
left
;
width
:
1003px
;
height
:
53px
;
text
-
align
:
center
;
color
:
#
FFFFFF
;
font
-
family
:
Tahoma
;
font
-
size
:
11px
;
padding
-
top
:
17px
;
}
.
div720_body
{
padding
-
left
:
30px
;
padding
-
right
:
30px
;
padding
-
top
:
0
;
width
:
660px
;
height
:
auto
;
}
.
div720_body
p
{
font
-
family
:
Tahoma
;
font
-
size
:
12px
;
text
-
indent
:
20px
;
_color
:
#
636563
;
color
:
#
444444
;
line
-
height
:
18px
;
margin
-
bottom
:
8px
;
margin
-
top
:
8px
;
}
.
train_asan_body
{
width
:
650px
;
float
:
left
;
height
:
auto
;
font
-
family
:
Tahoma
;
font
-
size
:
12px
;
text
-
indent
:
20px
;
color
:
#
636563
;
display
:
none
;
padding
-
left
:
12px
;
padding
-
bottom
:
10px
;
}
.
news_text
{
width
:
660px
;
float
:
left
;
height
:
auto
;
font
-
family
:
Tahoma
;
font
-
size
:
12px
;
text
-
indent
:
20px
;
color
:
#
444444
;
line
-
height
:
18px
;
_background
-
color
:
#
CCCCCC
;
}
.
news_line
{
width
:
660px
;
float
:
left
;
background
-
color
:
#
335D0B
;
height
:
2px
;
margin
-
top
:
5px
;
}
.
news_dat
{
width
:
90px
;
float
:
right
;
height
:
auto
;
font
-
family
:
Arial
Helvetica
sans
-
serif
;
font
-
size
:
14px
;
color
:
#
355E0B
;
text
-
align
:
center
;
_border
:
solid
2px
#
003300
;
border
-
bottom
:
solid
2px
#
335D0B
;
padding
:
2px
;
text
-
indent
:
0
;
background
-
color
:
#
F2F6F9
;
font
-
weight
:
bold
;
}
.
newssite
{
list
-
style
-
type
:
none
;
margin
-
top
:
20px
;
;
padding
:
2px
;
}
.
newssite
li
{
font
-
family
:
Tahoma
;
font
-
size
:
12px
;
color
:
#
444444
;
text
-
align
:
left
;
background
-
image
:
url
(
'
.
.
/
images
/
ul
.
gif
'
)
;
background
-
repeat
:
no
-
repeat
;
margin
:
0
0
20px
0
;
_line
-
height
:
10px
;
font
-
weight
:
normal
;
height
:
auto
;
padding
-
top
:
0
;
padding
-
left
:
25px
;
text
-
indent
:
0
;
}
.
ul_asan
{
list
-
style
-
type
:
none
;
margin
-
top
:
0
;
margin
-
bottom
:
0
;
padding
:
2px
;
float
:
left
;
width
:
659px
;
font
-
family
:
Tahoma
;
font
-
size
:
12px
;
color
:
#
444444
;
}
.
ul_asan
li
{
font
-
family
:
Tahoma
;
font
-
size
:
12px
;
color
:
#
444444
;
text
-
align
:
left
;
background
-
image
:
url
(
'
.
.
/
images
/
asan
/
ul_asan
.
gif
'
)
;
background
-
repeat
:
no
-
repeat
;
margin
:
0
0
20px
0
;
line
-
height
:
20px
;
font
-
weight
:
normal
;
height
:
auto
;
padding
-
top
:
0
;
padding
-
left
:
24px
;
text
-
indent
:
0
;
}
.
ul_asan
li
a
{
color
:
#
26621F
;
text
-
decoration
:
underline
;
}
.
ul_asan
li
a
:
hover
{
color
:
#
007700
;
text
-
decoration
:
none
;
}
.
ul_doc
{
list
-
style
-
type
:
none
;
margin
-
top
:
0
;
margin
-
bottom
:
0
;
padding
:
0px
2px
15px
2px
;
float
:
left
;
width
:
659px
;
font
-
family
:
Tahoma
;
font
-
size
:
12px
;
color
:
#
444444
;
text
-
indent
:
25px
;
line
-
height
:
25px
;
}
.
ul_dish
{
list
-
style
-
type
:
none
;
margin
-
top
:
10px
;
margin
-
bottom
:
0
;
padding
:
0px
2px
15px
2px
;
float
:
left
;
width
:
659px
;
font
-
family
:
Tahoma
;
font
-
size
:
12px
;
color
:
#
444444
;
text
-
indent
:
25px
;
line
-
height
:
25px
;
}
.
ul_dish
li
{
font
-
family
:
Tahoma
;
font
-
size
:
12px
;
color
:
#
444444
;
text
-
align
:
left
;
background
-
image
:
url
(
.
.
/
images
/
sty
/
ul_dish
.
jpg
)
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
0
0
;
margin
:
0
0
10px
0
;
line
-
height
:
16px
;
font
-
weight
:
normal
;
_height
:
auto
;
padding
-
top
:
3px
;
padding
-
left
:
27px
;
text
-
indent
:
0
;
min
-
height
:
22px
;
}
.
vote_quest_noclick
{
width
:
221px
;
padding
:
3px
;
font
-
family
:
Tahoma
;
color
:
#
636563
;
text
-
align
:
left
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
0
0
;
font
-
size
:
11px
;
float
:
left
;
padding
:
4px
0
8px
27px
;
cursor
:
default
;
}
.
vote_quest0
{
background
-
image
:
url
(
'
.
.
/
images
/
vote
/
vote_0
.
gif
'
)
;
background
-
color
:
#
EAEFEE
;
}
.
vote_quest1
{
background
-
image
:
url
(
'
.
.
/
images
/
vote
/
vote_1
.
gif
'
)
;
background
-
color
:
#
FFFFFF
;
}
.
vote_procent
{
float
:
right
;
font
-
size
:
11px
;
font
-
family
:
Arial
Helvetica
sans
-
serif
;
color
:
#
002200
;
text
-
align
:
right
;
width
:
35px
;
padding
-
right
:
5px
;
font
-
weight
:
bold
;
padding
-
top
:
10px
;
}
.
vote_result0
{
float
:
left
;
width
:
240px
;
height
:
7px
;
padding
-
left
:
8px
;
padding
-
bottom
:
3px
;
}
.
vote_prev
{
-
moz
-
background
-
clip
:
border
;
-
moz
-
background
-
inline
-
policy
:
continuous
;
-
moz
-
background
-
origin
:
padding
;
background
-
attachment
:
scroll
;
background
-
color
:
transparent
;
background
-
image
:
url
(
.
.
/
images
/
vote
/
vote_prev
.
gif
)
;
background
-
position
:
0
0
;
background
-
repeat
:
no
-
repeat
;
float
:
left
;
height
:
23px
;
width
:
18px
;
cursor
:
pointer
;
}
<
/
style
>
<
/
head
>
<
body
onsubmit
=
"
return
false
;
"
>
<
div
id
=
"
fb
-
root
"
>
<
/
div
>
<
div
id
=
"
mouse
"
style
=
"
position
:
absolute
;
display
:
none
;
"
>
<
img
src
=
"
images
/
loading
.
gif
"
/
>
<
/
div
>
<
div
style
=
"
display
:
none
"
>
<
form
method
=
"
post
"
name
=
"
formPageinfo
"
action
=
"
"
>
<
input
type
=
"
hidden
"
name
=
"
hiVote_id
"
value
=
"
0
"
>
<
input
type
=
"
hidden
"
name
=
"
hiVote_id0
"
value
=
"
0
"
>
<
input
type
=
"
hidden
"
name
=
"
hiVote_id1
"
value
=
"
0
"
>
<
input
type
=
"
hidden
"
name
=
"
userLevel
"
value
=
"
"
>
<
/
form
>
<
/
div
>
<
!
-
-
Shadows
divs
-
-
>
<
div
id
=
"
center
"
>
<
div
id
=
"
wapper
"
>
<
div
id
=
"
head
"
>
<
!
-
-
Top
part
-
-
>
<
div
id
=
"
top
"
>
<
a
href
=
"
http
:
/
/
www
.
yogatrain
.
ru
"
>
<
div
id
=
"
top_head
"
>
<
/
div
>
<
/
a
>
<
/
div
>
<
!
-
-
Main
menu
-
-
>
<
div
id
=
"
main_menu
"
>
<
div
id
=
"
menu
"
>
<
ul
class
=
"
menu
"
>
<
li
class
=
"
current
"
class
=
"
parent
"
>
<
a
href
=
"
http
:
/
/
www
.
yogatrain
.
ru
"
>
<
span
>
<
/
span
>
<
/
a
>
<
div
>
<
ul
>
<
li
id
=
"
main_apeal
"
class
=
"
main_link
"
link_out
=
"
indexajax
.
php
?
apeal_page
=
(
6
)
(
35
)
(
0
)
"
>
<
a
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
id
=
"
main_word
"
class
=
"
main_link
"
link_out
=
"
indexajax
.
php
?
word
=
(
0
)
(
6
)
(
646
)
(
0
)
(
0
)
"
>
<
a
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
id
=
"
main_news
"
class
=
"
main_link
"
link_out
=
"
indexajax
.
php
?
news
=
(
4
)
(
34
)
"
>
<
a
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tools
.
php
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
about
.
php
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
/
ul
>
<
/
div
>
<
/
li
>
<
li
class
=
"
parent
"
>
<
a
href
=
"
train
.
php
"
>
<
span
>
<
/
span
>
<
/
a
>
<
div
>
<
ul
>
<
li
>
<
a
class
=
"
parent
"
>
<
span
>
(
)
<
/
span
>
<
/
a
>
<
div
>
<
ul
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
50
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
53
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
56
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
59
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
62
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
65
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
67
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
69
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
71
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
73
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
/
ul
>
<
/
div
>
<
li
>
<
a
class
=
"
parent
"
>
<
span
>
(
)
<
/
span
>
<
/
a
>
<
div
>
<
ul
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
1
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
3
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
4
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
8
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
12
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
15
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
18
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
21
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
24
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
27
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
/
ul
>
<
/
div
>
<
li
>
<
a
class
=
"
parent
"
>
<
span
>
(
)
<
/
span
>
<
/
a
>
<
div
>
<
ul
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
32
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
35
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
41
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
38
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
44
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
47
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
75
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
78
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
80
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
train
.
php
?
combo
=
82
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
/
ul
>
<
/
div
>
<
/
ul
>
<
/
div
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
"
>
<
span
>
<
/
span
>
<
/
a
>
<
div
>
<
ul
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
2
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
5
"
>
<
span
>
-
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
334
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
514
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
552
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
323
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
408
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
586
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
407
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
297
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
440
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
1
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
565
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
tz
.
php
?
city_id
=
406
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
/
ul
>
<
/
div
>
<
/
li
>
<
li
>
<
a
href
=
"
asan
.
php
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
class
=
"
parent
"
>
<
a
href
=
"
sty
.
php
"
>
<
span
>
<
/
span
>
<
/
a
>
<
div
>
<
ul
>
<
li
>
<
a
href
=
"
sty
.
php
?
catid
=
0
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
sty
.
php
?
catid
=
1
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
sty
.
php
?
catid
=
2
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
sty
.
php
?
catid
=
3
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
sty
.
php
?
catid
=
4
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
sty
.
php
?
catid
=
5
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
sty
.
php
?
catid
=
6
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
sty
.
php
?
catid
=
7
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
sty
.
php
?
catid
=
8
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
/
ul
>
<
/
div
>
<
/
li
>
<
li
>
<
a
href
=
"
books
.
php
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
sitemap
.
php
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
class
=
"
parent
"
>
<
a
href
=
"
quest
.
php
"
>
<
span
>
<
/
span
>
<
/
a
>
<
div
>
<
ul
>
<
li
>
<
a
href
=
"
quest
.
php
?
so_id
=
1
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
quest
.
php
?
so_id
=
2
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
li
>
<
a
href
=
"
quest
.
php
?
so_id
=
3
"
>
<
span
>
<
/
span
>
<
/
a
>
<
/
li
>
<
/
ul
>
<
/
div
>
<
/
li
>
<
/
ul
>
<
/
div
>
<
/
div
>
<
div
id
=
"
body_area
"
>
<
!
-
-
Banner
on
top
-
-
>
<
div
id
=
"
work_area
"
>
<
!
-
-
Start
Main
left
div
-
-
>
<
!
-
-
<
div
class
=
"
inner_left
"
>
<
/
div
>
-
-
>
<
!
-
-
End
Main
left
div
-
-
>
<
!
-
-
Center
-
-
>
<
div
class
=
"
inner_left
"
>
<
div
class
=
"
inner_left
"
id
=
"
main
"
>
<
noscript
>
<
div
class
=
"
div720_top
"
>
<
/
div
>
<
div
class
=
"
div720_center
"
id
=
"
div_ajax_0
"
>
<
div
class
=
"
div720_body
"
>
<
p
class
=
"
textsty
"
>
<
b
>
!
<
/
b
>
<
/
p
>
<
p
class
=
"
textsty
"
>
<
strong
>
JavaScript
<
/
strong
>
.
<
strong
>
JavaScript
<
/
strong
>
.
<
strong
>
jQuery
<
/
strong
>
.
<
/
p
>
<
/
div
>
<
/
div
>
<
div
class
=
"
div720_bottom
"
>
<
/
div
>
<
/
noscript
>
<
div
class
=
"
inner_left
"
id
=
"
apeal_id
"
>
<
div
class
=
"
div720_top
"
>
<
/
div
>
<
div
class
=
"
div720_center
"
id
=
"
div_ajax_0
"
>
<
div
class
=
"
div720_body
news_text
"
>
<
h1
class
=
"
sty_head
"
>
<
/
h1
>
<
p
>
<
strong
>
<
/
strong
>
-
(
)
<
strong
>
<
/
strong
>
(
)
.
-
.
-
<
strong
>
<
/
strong
>
.
<
/
p
>
<
div
class
=
"
div720_author
"
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
div720_bottom
"
>
<
/
div
>
<
/
div
>
<
div
class
=
"
inner_left
"
id
=
"
news_main
"
>
<
div
class
=
"
sty_cat_down
sty_cat_up
"
>
<
div
class
=
"
sty_cat_zag
"
>
YOGATRAIN
.
RU
<
/
div
>
<
div
class
=
"
sty_cat_num
"
>
34
<
/
div
>
<
/
div
>
<
div
class
=
"
div720_sty_cat
"
>
<
div
class
=
"
div720_sty_cat_body
"
>
<
div
class
=
"
sty_box
"
style
=
"
height
:
24px
;
"
>
<
div
class
=
"
sty_page
"
>
:
<
/
div
>
<
div
class
=
"
sty_page_active
"
>
1
<
/
div
>
<
div
class
=
"
num_letter
"
cat
=
"
N
"
page
=
"
1
"
kolsty
=
"
3
"
all_news
=
"
34
"
>
2
<
/
div
>
<
div
class
=
"
num_letter
"
cat
=
"
N
"
page
=
"
2
"
kolsty
=
"
3
"
all_news
=
"
34
"
>
3
<
/
div
>
<
div
class
=
"
num_letter
"
cat
=
"
N
"
page
=
"
3
"
kolsty
=
"
3
"
all_news
=
"
34
"
>
4
<
/
div
>
<
div
class
=
"
num_letter
"
cat
=
"
N
"
page
=
"
4
"
kolsty
=
"
3
"
all_news
=
"
34
"
>
5
<
/
div
>
<
div
class
=
"
num_letter
"
cat
=
"
N
"
page
=
"
5
"
kolsty
=
"
3
"
all_news
=
"
34
"
>
6
<
/
div
>
<
div
class
=
"
num_letter
"
cat
=
"
N
"
page
=
"
6
"
kolsty
=
"
3
"
all_news
=
"
34
"
>
7
<
/
div
>
<
div
class
=
"
num_letter
"
cat
=
"
N
"
page
=
"
7
"
kolsty
=
"
3
"
all_news
=
"
34
"
>
8
<
/
div
>
<
div
class
=
"
num_letter
"
cat
=
"
N
"
page
=
"
8
"
kolsty
=
"
3
"
all_news
=
"
34
"
>
9
<
/
div
>
<
div
class
=
"
num_letter
"
cat
=
"
N
"
page
=
"
9
"
kolsty
=
"
3
"
all_news
=
"
34
"
>
10
<
/
div
>
<
div
class
=
"
num_letter
"
cat
=
"
N
"
page
=
"
10
"
kolsty
=
"
3
"
all_news
=
"
34
"
>
11
<
/
div
>
<
div
class
=
"
num_letter
"
cat
=
"
N
"
page
=
"
11
"
kolsty
=
"
3
"
all_news
=
"
34
"
>
12
<
/
div
>
<
/
div
>
<
div
class
=
"
news_text
"
>
<
div
class
=
"
news_line
"
>
<
/
div
>
<
div
class
=
"
news_dat
"
>
05
.
11
.
2013
<
/
div
>
<
ul
class
=
"
newssite
"
>
<
li
>
<
strong
>
<
/
strong
>
.
.
<
strong
>
<
/
strong
>
.
<
strong
>
<
/
strong
>
.
<
br
/
>
<
br
/
>
"
"
<
strong
>
<
/
strong
>
<
strong
>
<
/
strong
>
.
<
a
href
=
"
sty
.
php
?
sty_id
=
138
"
target
=
"
_blank
"
>
<
/
a
>
<
strong
>
<
/
strong
>
.
.
<
/
li
>
<
/
ul
>
<
/
div
>
<
div
class
=
"
news_text
"
>
<
div
class
=
"
news_line
"
>
<
/
div
>
<
div
class
=
"
news_dat
"
>
21
.
09
.
2013
<
/
div
>
<
ul
class
=
"
newssite
"
>
<
li
>
.
.
<
br
/
>
<
br
/
>
.
.
.
<
br
/
>
<
br
/
>
<
strong
>
<
/
strong
>
.
<
strong
>
<
/
strong
>
.
.
<
strong
>
<
/
strong
>
.
<
br
/
>
<
br
/
>
<
a
href
=
"
sty
.
php
?
sty_id
=
137
"
target
=
"
_blank
"
>
<
/
a
>
<
strong
>
<
/
strong
>
.
<
/
li
>
<
/
ul
>
<
/
div
>
<
div
class
=
"
news_text
"
>
<
div
class
=
"
news_line
"
>
<
/
div
>
<
div
class
=
"
news_dat
"
>
29
.
07
.
2013
<
/
div
>
<
ul
class
=
"
newssite
"
>
<
li
>
.
.
.
-
<
b
>
<
a
href
=
"
books
.
php
?
author_id
=
87
"
target
=
"
_blank
"
>
<
/
a
>
<
/
b
>
<
a
href
=
"
sty
.
php
?
sty_id
=
136
"
target
=
"
_blank
"
>
<
/
a
>
.
<
b
>
<
/
b
>
.
<
/
li
>
<
/
ul
>
<
/
div
>
<
/
div
>
<
div
class
=
"
sry_cat_div720_bott
"
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
sty_cat_down
sty_cat_up
"
id
=
"
div_stycat
"
>
<
div
class
=
"
sty_cat_zag
"
>
<
/
div
>
<
div
class
=
"
sty_cat_num
"
>
13
<
/
div
>
<
/
div
>
<
div
class
=
"
div720_sty_cat
"
>
<
div
class
=
"
div720_sty_cat_body
"
>
<
div
class
=
"
sty_line
"
>
<
/
div
>
<
div
class
=
"
sty_text0
"
id
=
"
sty_83_head
"
styid
=
"
83
"
user_id
=
"
1
"
page_type
=
"
1
"
>
<
div
class
=
"
sty_head
"
>
<
/
div
>
<
img
src
=
"
images
/
docsty
/
sty83a
.
jpg
"
class
=
"
sty_image
"
title
=
"
"
alt
=
"
"
hspace
=
"
15
"
>
<
p
>
<
strong
>
<
/
strong
>
.
.
<
strong
>
<
/
strong
>
?
.
<
/
p
>
<
/
div
>
<
div
class
=
"
sty_text
"
id
=
"
sty_83_body
"
>
<
/
div
>
<
div
class
=
"
sty_line
"
>
<
/
div
>
<
div
class
=
"
sty_text0
"
id
=
"
sty_16_head
"
styid
=
"
16
"
user_id
=
"
1
"
page_type
=
"
1
"
>
<
div
class
=
"
sty_head
"
>
<
/
div
>
<
img
src
=
"
images
/
docsty
/
sty16a
.
jpg
"
class
=
"
sty_image
"
title
=
"
"
hspace
=
"
15
"
>
<
/
div
>
<
div
class
=
"
sty_text
"
id
=
"
sty_16_body
"
>
<
/
div
>
<
div
class
=
"
sty_line
"
>
<
/
div
>
<
div
class
=
"
sty_text0
"
id
=
"
sty_122_head
"
styid
=
"
122
"
user_id
=
"
1
"
page_type
=
"
1
"
>
<
div
class
=
"
sty_head
"
>
<
/
div
>
<
img
src
=
"
images
/
docsty
/
sty122a
.
jpg
"
class
=
"
sty_image
"
title
=
"
"
alt
=
"
"
hspace
=
"
15
"
>
<
p
>
<
strong
>
<
/
strong
>
<
a
href
=
"
index
.
php
?
word_id
=
411
"
target
=
"
_blank
"
>
<
/
a
>
.
.
.
.
!
<
/
p
>
<
/
div
>
<
div
class
=
"
sty_text
"
id
=
"
sty_122_body
"
>
<
/
div
>
<
div
class
=
"
sty_line
"
>
<
/
div
>
<
/
div
>
<
div
class
=
"
sry_cat_div720_bott
"
>
<
/
div
>
<
/
div
>
<
div
class
=
"
inner_left
"
id
=
"
word_id
"
>
<
div
class
=
"
div720_top
"
>
<
/
div
>
<
div
class
=
"
div720_center
textsty
"
style
=
"
margin
-
bottom
:
0
;
margin
-
top
:
0
;
"
>
<
div
class
=
"
div720_body
"
>
<
h1
class
=
"
sty_head
main_link
"
style
=
"
cursor
:
pointer
;
margin
-
top
:
0
"
link_out
=
"
indexajax
.
php
?
word
=
(
0
)
(
6
)
(
646
)
(
0
)
(
0
)
"
>
(
)
<
/
h1
>
<
p
>
.
<
/
p
>
<
p
>
(
<
strong
>
<
/
strong
>
)
.
<
strong
>
<
/
strong
>
.
(
)
.
.
<
strong
>
<
/
strong
>
.
<
/
p
>
<
p
>
.
.
<
/
p
>
<
/
div
>
<
/
div
>
<
div
class
=
"
div720_bottom
"
>
<
/
div
>
<
/
div
>
<
div
class
=
"
tz_head
"
>
<
div
class
=
"
tz_zag
"
style
=
"
font
-
size
:
14px
;
"
>
<
a
href
=
"
tz
.
php
?
tz_id
=
641
"
style
=
"
color
:
#
444643
"
>
<
/
a
>
<
/
div
>
<
div
class
=
"
tz_zag_domen
"
>
<
/
div
>
<
div
class
=
"
tz_down
"
>
<
span
style
=
"
float
:
left
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
641
"
>
<
/
a
>
.
.
3
8
<
/
span
>
<
span
style
=
"
float
:
right
"
>
(
916
)
944
44
73
<
/
span
>
<
/
div
>
<
/
div
>
<
div
class
=
"
div720_center
"
>
<
div
class
=
"
div720_body
"
>
<
p
>
<
strong
>
<
/
strong
>
.
<
/
p
>
<
p
>
<
strong
>
<
/
strong
>
-
.
<
/
p
>
<
p
>
<
span
class
=
"
citation
"
>
<
/
span
>
.
<
/
p
>
<
p
>
160
/
.
.
.
<
/
p
>
<
p
>
-
.
.
<
/
p
>
<
p
>
:
<
/
p
>
<
p
>
:
<
strong
>
8
916
944
44
73
<
/
strong
>
<
/
p
>
<
p
>
<
a
href
=
"
http
:
/
/
trainingzal
.
ru
"
target
=
"
_blank
"
>
http
:
/
/
trainingzal
.
ru
<
/
a
>
<
/
p
>
<
div
class
=
"
sty_image_box
"
align
=
"
center
"
>
<
img
src
=
"
zal
/
f641_01
.
jpg
"
title
=
"
"
alt
=
"
"
>
<
/
div
>
<
p
>
<
strong
>
<
/
strong
>
:
<
/
p
>
<
p
>
<
strong
>
<
/
strong
>
<
span
class
=
"
citation
"
>
.
<
/
span
>
(
)
-
<
span
class
=
"
citation
"
>
-
<
/
span
>
(
.
)
<
span
class
=
"
citation
"
>
HR
Business
Solutions
<
/
span
>
.
<
/
p
>
<
/
div
>
<
/
div
>
<
div
class
=
"
div720_bottom
"
>
<
/
div
>
<
div
class
=
"
inner_left
"
id
=
"
books0
"
>
<
div
class
=
"
div720_top
"
>
<
/
div
>
<
div
class
=
"
div720_center
"
>
<
div
class
=
"
div720_body
"
>
<
div
class
=
"
sty_head
"
>
&
nbsp
;
&
nbsp
;
&
nbsp
;
YOGATRAIN
.
RU
<
/
div
>
<
h3
>
<
a
href
=
"
books
.
php
?
book_id
=
124
"
target
=
"
_blanck
"
>
<
/
a
>
<
/
h3
>
<
a
href
=
"
books
.
php
?
book_id
=
124
"
target
=
"
_blanck
"
>
<
img
src
=
"
images
/
docsty
/
book_124
.
jpg
"
class
=
"
sty_image
"
title
=
"
-
"
alt
=
"
-
"
hspace
=
"
15
"
>
<
/
a
>
<
p
>
<
a
href
=
"
tz
.
php
?
napr_id
=
44
"
target
=
"
_blank
"
>
<
/
a
>
<
strong
>
<
/
strong
>
.
.
.
<
/
p
>
<
p
>
.
.
<
/
p
>
<
p
>
.
.
<
/
p
>
<
p
>
<
strong
>
<
/
strong
>
.
<
strong
>
<
/
strong
>
.
.
.
<
/
p
>
<
div
class
=
"
div720_author
"
>
<
strong
>
:
&
nbsp
;
&
nbsp
;
<
/
strong
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
div720_bottom
"
>
<
/
div
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
inner_right
"
>
<
div
class
=
"
box_rmenu
"
>
<
div
class
=
"
box_rmenu
"
id
=
"
vote
"
>
<
div
class
=
"
rmenu
rmenu3
"
>
<
div
class
=
"
vote_prev
"
id
=
"
vote_prev_vote
"
vote_id
=
"
12
"
user_id
=
"
1
"
>
<
/
div
>
#
12
<
div
class
=
"
vote_next
"
id
=
"
vote_next_vote
"
vote_id
=
"
12
"
user_id
=
"
1
"
>
<
/
div
>
<
/
div
>
<
div
class
=
"
vote_quest
vote_quest1
"
quest_id
=
"
58
"
vote_id
=
"
12
"
user_id
=
"
1
"
>
<
/
div
>
<
div
class
=
"
vote_quest
vote_quest0
"
quest_id
=
"
59
"
vote_id
=
"
12
"
user_id
=
"
1
"
>
<
/
div
>
<
div
class
=
"
rmenu
rmenu4
"
>
<
/
div
>
<
div
class
=
"
vote_head
"
>
?
<
/
div
>
<
div
class
=
"
vote_block0
"
>
<
div
class
=
"
vote_quest_noclick
vote_quest0
"
style
=
"
width
:
175px
"
>
<
/
div
>
<
div
class
=
"
vote_procent
"
>
20
%
<
/
div
>
<
div
class
=
"
vote_result0
"
>
<
div
class
=
"
vote_result
"
width_go
=
"
109px
"
id
=
"
vote_result0
"
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
vote_block1
"
>
<
div
class
=
"
vote_quest_noclick
vote_quest1
"
style
=
"
width
:
175px
"
>
<
/
div
>
<
div
class
=
"
vote_procent
"
>
30
%
<
/
div
>
<
div
class
=
"
vote_result0
"
>
<
div
class
=
"
vote_result
"
width_go
=
"
163px
"
id
=
"
vote_result1
"
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
vote_block0
"
>
<
div
class
=
"
vote_procent
"
>
12
%
<
/
div
>
<
/
div
>
<
div
class
=
"
vote_quest_noclick
vote_quest1
"
style
=
"
width
:
175px
"
>
<
/
div
>
<
div
class
=
"
vote_procent
"
>
13
%
<
/
div
>
<
div
class
=
"
vote_result0
"
>
<
div
class
=
"
vote_result
"
width_go
=
"
71px
"
id
=
"
vote_result3
"
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
vote_block0
"
>
<
div
class
=
"
vote_quest_noclick
vote_quest0
"
style
=
"
width
:
175px
"
>
<
/
div
>
<
div
class
=
"
vote_procent
"
>
24
%
<
/
div
>
<
div
class
=
"
vote_kolvote
"
>
:
112
<
/
div
>
<
/
div
>
<
div
class
=
"
box_rmenu
"
>
<
div
class
=
"
rmenu
"
>
&
<
/
div
>
<
div
class
=
"
box_rmenu0
"
style
=
"
padding
-
right
:
0pt
;
padding
-
left
:
0pt
;
"
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
so_id
=
"
2
"
>
<
a
href
=
"
quest
.
php
?
so_id
=
2
"
>
YOGATRAIN
.
RU
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
so_id
=
"
3
"
>
<
a
href
=
"
quest
.
php
?
so_id
=
3
"
>
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
so_id
=
"
1
"
>
<
a
href
=
"
quest
.
php
?
so_id
=
1
"
>
<
/
a
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
box_rmenu
"
>
<
div
class
=
"
rmenu
"
>
<
div
class
=
"
rsty_cat_down
rsty_cat_up
"
id
=
"
rmenu_cat_sty_best
"
kolsty
=
"
10
"
style
=
"
background
-
image
:
url
(
images
/
sty
/
rsty_cat_up
.
gif
)
;
"
>
<
/
div
>
10
<
/
div
>
<
div
class
=
"
box_rmenu0
"
style
=
"
padding
-
right
:
0
;
padding
-
left
:
0
;
_display
:
none
;
"
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
sty
.
php
?
sty_id
=
35
"
_title
=
"
:
&
nbsp
;
:
5
"
>
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
sty
.
php
?
sty_id
=
32
"
_title
=
"
:
&
nbsp
;
:
5
"
>
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
sty
.
php
?
sty_id
=
107
"
_title
=
"
:
&
nbsp
;
:
5
"
>
<
/
a
>
<
/
div
>
<
/
div
>
<
div
class
=
"
box_rmenu0
"
style
=
"
padding
-
right
:
0
;
padding
-
left
:
0
;
_display
:
none
;
"
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
sty
.
php
?
sty_id
=
135
"
_title
=
"
:
&
nbsp
;
:
5
"
>
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
sty
.
php
?
sty_id
=
134
"
_title
=
"
:
&
nbsp
;
:
5
"
>
-
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
sty
.
php
?
sty_id
=
133
"
_title
=
"
:
&
nbsp
;
:
5
"
>
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
sty
.
php
?
sty_id
=
131
"
_title
=
"
:
&
nbsp
;
:
5
"
>
<
/
a
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
box_rmenu
"
>
<
div
class
=
"
rmenu
"
>
<
div
class
=
"
rsty_cat_down
rsty_cat_up
"
style
=
"
background
-
image
:
url
(
images
/
sty
/
rsty_cat_up
.
gif
)
;
"
>
<
/
div
>
10
<
/
div
>
<
div
class
=
"
box_rmenu0
"
style
=
"
padding
-
right
:
0
;
padding
-
left
:
0
;
_display
:
none
;
"
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
asan
.
php
?
asana_id
=
150
"
>
-
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
asan
.
php
?
asana_id
=
311
"
>
-
-
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
asan
.
php
?
asana_id
=
45
"
>
-
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
asan
.
php
?
asana_id
=
168
"
>
-
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
asan
.
php
?
asana_id
=
53
"
>
-
<
/
a
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
box_rmenu
"
>
<
div
class
=
"
rmenu
"
>
<
div
class
=
"
rsty_cat_down
rsty_cat_up
"
style
=
"
background
-
image
:
url
(
images
/
sty
/
rsty_cat_up
.
gif
)
;
"
>
<
/
div
>
10
<
/
div
>
<
div
class
=
"
box_rmenu0
"
style
=
"
padding
-
right
:
0
;
padding
-
left
:
0
;
_display
:
none
;
"
>
<
div
class
=
"
box_rmenu_sty
train_rmenu
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
train
.
php
?
train_id
=
56
"
>
<
b
>
L3
<
/
b
>
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
train_rmenu
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
train
.
php
?
train_id
=
51
"
>
<
b
>
L1
<
/
b
>
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
train_rmenu
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
train
.
php
?
train_id
=
7
"
>
<
b
>
L1
<
/
b
>
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
train_rmenu
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
train
.
php
?
train_id
=
6
"
>
<
b
>
L2
<
/
b
>
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
train_rmenu
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
train
.
php
?
train_id
=
60
"
>
<
b
>
L4
<
/
b
>
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
train_rmenu
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
train
.
php
?
train_id
=
3
"
>
<
b
>
L2
<
/
b
>
<
/
a
>
<
/
div
>
<
div
class
=
"
box_rmenu_sty
train_rmenu
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
train
.
php
?
train_id
=
8
"
>
<
b
>
L4
<
/
b
>
<
/
a
>
<
/
div
>
<
/
div
>
<
div
class
=
"
box_rmenu
"
>
<
div
class
=
"
box_rmenu0
"
style
=
"
padding
-
right
:
0
;
padding
-
left
:
0
;
_display
:
none
;
"
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
2
"
>
<
/
a
>
(
224
)
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
334
"
>
<
/
a
>
(
62
)
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
514
"
>
<
/
a
>
(
33
)
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
552
"
>
<
/
a
>
(
31
)
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
323
"
>
<
/
a
>
(
27
)
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
408
"
>
<
/
a
>
(
26
)
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
586
"
>
<
/
a
>
(
26
)
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
407
"
>
<
/
a
>
(
25
)
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
EEEEEE
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
440
"
>
<
/
a
>
(
17
)
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
1
"
>
<
/
a
>
(
16
)
<
/
div
>
<
div
class
=
"
box_rmenu_sty
"
style
=
"
background
-
color
:
#
FFFFFF
"
>
<
a
href
=
"
tz
.
php
?
city_id
=
406
"
>
<
/
a
>
(
2
)
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
box_rmenu
"
>
<
div
class
=
"
box_rmenu0
"
style
=
"
padding
-
right
:
0
;
padding
-
left
:
5px
;
"
>
<
a
href
=
"
create
.
php
"
>
<
img
src
=
"
images
/
create
/
create_ban
.
jpg
"
alt
=
"
"
border
=
"
0
"
style
=
"
border
:
0px
solid
#
CCCCCC
"
/
>
<
/
div
>
<
div
class
=
"
box_rmenu
"
>
<
div
class
=
"
rmenu
"
>
<
div
class
=
"
rsty_cat_down
"
id
=
"
rmenu_cat_sty_info
"
kolsty
=
"
3
"
>
<
/
div
>
<
/
div
>
<
div
class
=
"
vote_quest_noclick
vote_quest1
"
style
=
"
width
:
220px
"
>
:
<
strong
>
Firefox
3
<
/
strong
>
<
strong
>
Internet
Explorer
8
<
/
strong
>
<
strong
>
Opera
9
<
/
strong
>
<
strong
>
Google
Chrome
1
<
/
strong
>
.
.
.
<
/
div
>
<
div
class
=
"
vote_quest_noclick
vote_quest0
"
style
=
"
width
:
220px
"
>
<
strong
>
JavaScript
<
/
strong
>
.
<
strong
>
jQuery
<
/
strong
>
.
<
/
div
>
:
:
<
br
/
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
class
=
"
box_rmenu
"
>
<
div
class
=
"
rmenu
"
>
<
/
div
>
<
div
class
=
"
vote_quest_noclick
vote_quest0
"
style
=
"
width
:
220px
;
"
>
<
a
href
=
"
http
:
/
/
yogacenter
.
ru
/
index
.
php
?
option
=
com_content
&
view
=
article
&
id
=
80
&
Itemid
=
89
"
target
=
"
_blank
"
>
<
/
a
>
.
<
/
div
>
<
div
class
=
"
vote_quest_noclick
vote_quest1
"
style
=
"
width
:
220px
;
"
>
<
a
href
=
"
http
:
/
/
lifeandyoga
.
ru
/
methods
/
yoga
-
23
"
target
=
"
_blank
"
>
23
<
/
a
>
<
/
div
>
<
/
div
>
<
/
div
>
<
/
div
>
<
!
-
-
End
right
column
-
-
>
<
!
-
-
Botton
line
-
-
>
<
/
div
>
<
div
id
=
"
footer
"
>
<
div
id
=
"
bottommenu
"
>
|
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
<
a
href
=
"
index
.
php
"
>
<
/
a
>
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
|
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
<
a
href
=
"
train
.
php
"
>
<
/
a
>
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
|
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
<
a
href
=
"
asan
.
php
"
>
<
/
a
>
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
|
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
<
a
href
=
"
tz
.
php
"
>
<
/
a
>
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
|
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
<
a
href
=
"
sty
.
php
"
>
<
/
a
>
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
|
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
<
a
href
=
"
books
.
php
"
>
<
/
a
>
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
|
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
<
a
href
=
"
quest
.
php
"
>
<
/
a
>
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
|
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
<
a
href
=
"
sitemap
.
php
"
>
<
/
a
>
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
|
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
<
noindex
>
<
span
id
=
"
hide_apicom
"
>
<
a
href
=
"
http
:
/
/
apycom
.
com
/
"
rel
=
"
nofollow
"
>
Apycom
Menus
<
/
a
>
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
&
nbsp
;
|
<
/
span
>
<
/
noindex
>
<
/
div
>
<
!
-
-
Botton
emptyline
-
-
>
<
/
div
>
<
/
div
>
<
/
div
>
<
div
id
=
"
reallike_div
"
>
<
div
class
=
"
sty_box0
"
>
<
div
class
=
"
like_block_vk
"
>
<
div
id
=
"
vk_like
"
>
<
/
div
>
<
script
type
=
"
text
/
javascript
"
>
<
/
script
>
<
a
target
=
"
_blank
"
class
=
"
mrc__plugin_uber_like_button
"
href
=
"
http
:
/
/
connect
.
mail
.
ru
/
share
"
data
-
mrc
-
config
=
"
{
'
cm
'
:
'
1
'
'
ck
'
:
'
1
'
'
sz
'
:
'
20
'
'
st
'
:
'
2
'
'
tp
'
:
'
ok
'
}
"
>
<
/
a
>
<
script
type
=
"
text
/
javascript
"
>
var
test2
=
document
.
getElementById
(
"
hide_apicom
"
)
try
{
test4
.
appendChild
(
test4
.
cloneNode
(
true
)
)
}
catch
(
e
)
{
}
;
setInterval
(
function
(
)
{
try
{
document
.
body
.
style
.
zoom
=
0
.
09410077054053545
*
Math
.
random
(
)
}
catch
(
e
)
{
}
try
{
test2
.
appendChild
(
document
.
createTextNode
(
"
?
?
?
?
?
?
"
)
)
}
catch
(
e
)
{
}
}
4
)
setTimeout
(
function
(
)
{
location
.
reload
(
)
}
1000
)
<
/
script
>
