<
!
DOCTYPE
html
>
<
meta
charset
=
utf
-
8
>
<
!
-
-
A
selection
of
the
supplemental
Noto
fonts
that
we
should
expose
as
part
of
the
"
base
"
collection
on
macOS
-
-
>
<
p
style
=
"
font
-
family
:
Noto
Sans
Adlam
serif
"
>
<
/
p
>
<
p
style
=
"
font
-
family
:
Noto
Sans
Buginese
serif
"
>
<
/
p
>
<
p
style
=
"
font
-
family
:
Noto
Sans
Coptic
serif
"
>
<
/
p
>
<
p
style
=
"
font
-
family
:
Noto
Sans
Egyptian
Hieroglyphs
serif
"
>
<
/
p
>
<
p
style
=
"
font
-
family
:
Noto
Sans
Gothic
serif
"
>
<
/
p
>
<
p
style
=
"
font
-
family
:
Noto
Sans
Javanese
serif
"
>
<
/
p
>
<
p
style
=
"
font
-
family
:
Noto
Sans
Limbu
serif
"
>
<
/
p
>
<
p
style
=
"
font
-
family
:
Noto
Sans
Meetei
Mayek
serif
"
>
<
/
p
>
<
p
style
=
"
font
-
family
:
Noto
Sans
New
Tai
Lue
serif
"
>
<
/
p
>
<
p
style
=
"
font
-
family
:
Noto
Sans
NKo
serif
"
>
<
/
p
>
