p
{
margin
-
bottom
:
0
;
color
:
black
;
font
-
weight
:
bold
;
}
tr
{
vertical
-
align
:
top
}
td
{
padding
-
right
:
0
.
5em
}
/
*
backstop
*
/
div
{
color
:
#
aaa
;
font
:
6pt
monospace
;
}
/
*
These
selectors
should
match
exactly
one
element
each
.
*
/
#
\
0i1
{
color
:
green
}
#
i
\
0
2
{
color
:
green
}
#
i3
\
0
{
color
:
green
}
#
i4
{
color
:
green
}
#
i
5
{
color
:
green
}
#
i6
{
color
:
green
}
#
i7
{
color
:
green
}
.
\
0
c1
{
color
:
green
}
.
c
\
0
2
{
color
:
green
}
.
c3
\
0
{
color
:
green
}
.
c4
{
color
:
green
}
.
c
5
{
color
:
green
}
.
c6
{
color
:
green
}
.
c7
{
color
:
green
}
#
i8
.
\
0
{
color
:
green
}
#
i9
.
{
color
:
green
}
.
c8
#
\
0
{
color
:
green
}
.
c9
#
{
color
:
green
}
/
*
These
properties
should
not
be
treated
as
'
color
:
red
'
.
*
/
#
p1
{
\
000000color
:
red
}
#
p2
{
\
00000
color
:
red
}
#
p3
{
c
\
000000olor
:
red
}
#
p4
{
c
\
00000
olor
:
red
}
#
p5
{
color
\
000000
:
red
}
#
p6
{
color
\
00000
:
red
}
#
p7
{
color
:
\
000000red
}
#
p8
{
color
:
\
00000
red
}
#
p9
{
color
:
r
\
000000ed
}
#
pA
{
color
:
r
\
00000
ed
}
#
pB
{
color
:
red
\
000000
}
