<
DOCTYPE
html
>
<
!
-
-
This
tests
that
embeddings
and
overrides
are
preserved
after
<
br
>
-
-
>
<
html
>
<
head
>
<
meta
charset
=
UTF
-
8
>
<
title
>
Bug
229367
<
/
title
>
<
/
head
>
<
body
>
<
div
>
<
br
>
?
<
br
>
<
span
style
=
"
unicode
-
bidi
:
embed
;
direction
:
rtl
"
>
<
br
>
<
br
>
<
br
>
<
br
>
<
span
style
=
"
unicode
-
bidi
:
bidi
-
override
;
direction
:
ltr
"
>
<
br
>
.
<
br
>
<
br
>
<
span
style
=
"
unicode
-
bidi
:
bidi
-
override
;
direction
:
rtl
"
>
<
br
>
<
br
>
<
br
>
<
br
>
<
/
span
>
.
<
br
>
<
br
>
<
/
span
>
;
<
br
>
<
br
>
<
/
span
>
<
br
>
.
<
/
div
>
<
/
body
>
<
/
html
>
