<
DOCTYPE
html
>
<
!
-
-
This
tests
that
embeddings
and
overrides
are
preserved
after
<
br
>
-
-
>
<
html
>
<
head
>
<
meta
charset
=
UTF
-
8
>
<
title
>
Bug
229367
<
/
title
>
<
style
type
=
"
text
/
css
"
>
p
{
margin
:
0
;
text
-
align
:
left
;
}
p
.
er
{
unicode
-
bidi
:
embed
;
direction
:
rtl
;
}
p
.
ol
{
unicode
-
bidi
:
bidi
-
override
;
direction
:
ltr
;
}
p
.
or
{
unicode
-
bidi
:
bidi
-
override
;
direction
:
rtl
;
}
<
/
style
>
<
/
head
>
<
body
>
<
p
>
<
/
p
>
<
p
>
?
<
/
p
>
<
p
class
=
"
er
"
>
<
/
p
>
<
p
class
=
"
er
"
>
<
/
p
>
<
p
class
=
"
er
"
>
<
/
p
>
<
p
class
=
"
er
"
>
<
/
p
>
<
p
class
=
"
ol
"
>
<
/
p
>
<
p
class
=
"
ol
"
>
.
<
/
p
>
<
p
class
=
"
ol
"
>
<
/
p
>
<
p
class
=
"
or
"
>
<
/
p
>
<
p
class
=
"
or
"
>
<
/
p
>
<
p
class
=
"
or
"
>
<
/
p
>
<
p
class
=
"
or
"
>
<
/
p
>
<
p
class
=
"
ol
"
>
.
<
/
p
>
<
p
class
=
"
ol
"
>
<
/
p
>
<
p
class
=
"
er
"
>
;
<
/
p
>
<
p
class
=
"
er
"
>
<
/
p
>
<
p
>
<
/
p
>
<
p
>
.
<
/
p
>
<
/
body
>
<
/
html
>
