<
DOCTYPE
html
>
<
!
-
-
This
tests
that
embeddings
and
overrides
are
preserved
in
<
pre
>
-
-
>
<
html
>
<
head
>
<
meta
charset
=
UTF
-
8
>
<
title
>
Bug
263359
<
/
title
>
<
style
type
=
"
text
/
css
"
>
p
{
white
-
space
:
pre
;
margin
:
0
;
}
<
/
style
>
<
/
head
>
<
body
>
<
p
style
=
"
"
>
?
<
span
dir
=
"
rtl
"
>
<
span
style
=
"
unicode
-
bidi
:
bidi
-
override
;
direction
:
ltr
"
>
.
<
span
style
=
"
unicode
-
bidi
:
bidi
-
override
;
direction
:
rtl
"
>
<
/
span
>
.
<
/
span
>
;
<
/
span
>
.
<
/
pre
>
<
/
body
>
<
/
html
>
