<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
title
>
Test
unicode
-
bidi
in
form
controls
<
/
title
>
<
meta
http
-
equiv
=
"
Content
-
type
"
content
=
"
text
/
html
;
charset
=
iso
-
8859
-
8
"
>
<
/
head
>
<
body
>
<
p
>
<
/
p
>
<
p
>
<
textarea
rows
=
"
3
"
cols
=
"
80
"
>
<
/
textarea
>
<
br
>
<
input
type
=
"
text
"
size
=
"
80
"
value
=
"
"
>
<
br
>
<
input
type
=
"
button
"
value
=
"
"
>
<
br
>
<
select
size
=
"
6
"
>
<
option
selected
>
<
/
option
>
<
optgroup
label
=
"
"
>
<
option
>
<
/
option
>
<
option
>
<
/
option
>
<
/
optgroup
>
<
optgroup
label
=
"
"
>
<
option
>
<
/
option
>
<
/
optgroup
>
<
/
select
>
<
br
>
<
/
body
>
<
/
html
>
