<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
meta
http
-
equiv
=
"
Content
-
Type
"
content
=
"
text
/
html
;
charset
=
UTF
-
8
"
>
<
/
head
>
<
body
>
<
table
border
=
"
1
"
>
<
tbody
>
<
tr
>
<
th
colspan
=
"
5
"
>
Symmetric
characters
with
mirrored
glyphs
<
/
th
>
<
/
tr
>
<
tr
>
<
td
>
U003C
<
/
td
>
<
td
>
LESS
-
THAN
SIGN
<
/
td
>
<
td
dir
=
"
rtl
"
>
&
lrm
;
&
gt
;
&
lrm
;
<
/
td
>
<
td
>
a
&
lrm
;
&
lt
;
&
lrm
;
b
<
/
td
>
<
td
dir
=
"
rtl
"
>
&
lrm
;
&
gt
;
&
lrm
;
<
/
td
>
<
/
tr
>
<
tr
>
<
td
>
U00AB
<
/
td
>
<
td
>
LEFT
-
POINTING
DOUBLE
ANGLE
QUOTATION
MARK
<
/
td
>
<
td
dir
=
"
rtl
"
>
&
lrm
;
&
lrm
;
<
/
td
>
<
td
>
a
&
lrm
;
&
lrm
;
b
<
/
td
>
<
td
dir
=
"
rtl
"
>
&
lrm
;
&
lrm
;
<
/
td
>
<
/
tr
>
<
tr
>
<
td
>
U2039
<
/
td
>
<
td
>
SINGLE
LEFT
-
POINTING
ANGLE
QUOTATION
MARK
<
/
td
>
<
td
dir
=
"
rtl
"
>
&
lrm
;
&
lrm
;
<
/
td
>
<
td
>
a
&
lrm
;
&
lrm
;
b
<
/
td
>
<
td
dir
=
"
rtl
"
>
&
lrm
;
&
lrm
;
<
/
td
>
<
/
tr
>
<
/
tbody
>
<
/
table
>
<
/
body
>
<
/
html
>
