<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
meta
charset
=
"
UTF
-
8
"
>
<
title
>
Bidi
isolation
-
bdi
element
<
/
title
>
<
!
-
-
Examples
from
http
:
/
/
www
.
w3
.
org
/
International
/
docs
/
html
-
bidi
-
requirements
/
#
bidi
-
isolation
-
-
>
<
style
type
=
"
text
/
css
"
>
body
{
font
-
family
:
monospace
;
}
<
/
style
>
<
/
head
>
<
body
>
<
p
>
<
bdi
>
24
<
/
bdi
>
-
3
reviews
<
/
p
>
<
p
>
:
<
bdi
dir
=
"
ltr
"
>
Joe
'
s
Bar
<
/
bdi
>
-
5
<
/
p
>
<
p
>
:
<
bdi
dir
=
"
ltr
"
>
<
bdo
dir
=
"
rtl
"
>
raB
s
'
eoJ
<
/
bdo
>
<
/
bdi
>
-
5
<
/
p
>
<
p
dir
=
"
rtl
"
align
=
"
left
"
>
-
css
(
<
bdi
dir
=
"
ltr
"
>
position
:
relative
<
/
bdi
>
)
.
<
/
p
>
<
p
>
documents
&
gt
;
<
bdi
dir
=
"
rtl
"
>
<
/
bdi
>
&
gt
;
<
bdi
dir
=
"
rtl
"
>
1
<
/
bdi
>
<
/
p
>
<
p
>
<
bdi
>
joe
hacker
&
#
x202e
;
<
/
bdi
>
:
overdrawn
<
/
p
>
<
/
body
>
<
/
html
>
