<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
meta
charset
=
"
UTF
-
8
"
>
<
title
>
Bidi
isolation
-
css
<
/
title
>
<
style
type
=
"
text
/
css
"
>
body
{
font
-
family
:
monospace
;
}
span
{
unicode
-
bidi
:
-
moz
-
isolate
;
}
span
.
override
{
unicode
-
bidi
:
-
moz
-
isolate
-
override
;
}
<
/
style
>
<
/
head
>
<
body
>
<
p
>
<
span
>
24
<
/
span
>
-
3
reviews
<
/
p
>
<
p
>
:
<
span
dir
=
"
ltr
"
>
Joe
'
s
Bar
<
/
span
>
-
5
<
/
p
>
<
p
>
:
<
span
class
=
"
override
"
dir
=
"
rtl
"
>
raB
s
'
eoJ
<
/
span
>
-
5
<
/
p
>
<
p
dir
=
"
rtl
"
align
=
"
left
"
>
-
css
(
<
span
dir
=
"
ltr
"
>
position
:
relative
<
/
span
>
)
.
<
/
p
>
<
p
>
documents
&
gt
;
<
span
dir
=
"
rtl
"
>
<
/
span
>
&
gt
;
<
span
dir
=
"
rtl
"
>
1
<
/
span
>
<
/
p
>
<
p
>
<
span
>
joe
hacker
&
#
x202e
;
<
/
span
>
:
overdrawn
<
/
p
>
<
/
body
>
<
/
html
>
