<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
meta
charset
=
"
UTF
-
8
"
>
<
title
>
pre
element
with
auto
-
direction
<
/
title
>
<
/
head
>
<
body
>
<
pre
dir
=
"
auto
"
>
The
word
Automaton
is
the
latinization
of
the
Greek
.
.
.
automaton
(
neuter
)
acting
of
one
s
own
will
.
It
is
more
often
used
to
describe
non
-
electronic
moving
machines
especially
those
that
have
been
made
to
resemble
human
or
animal
actions
such
as
the
jacks
on
old
public
striking
clocks
or
the
cuckoo
and
any
other
animated
figures
on
a
cuckoo
clock
.
(
:
-
)
.
.
(
"
"
)
"
"
.
.
<
/
pre
>
<
/
body
>
<
/
html
>
