-
c
.
.
/
third_party
/
python
/
requirements
.
txt
mozilla
-
taskgraph
=
=
4
.
1
.
1
requests
-
unixsocket
taskcluster
-
taskgraph
[
orjson
load
-
image
]
=
=
20
.
0
.
0
rtoml
=
=
0
.
13
.
0
;
python_version
>
=
"
3
.
10
"
