<
!
DOCTYPE
html
>
<
!
-
-
Reftest
for
Bug
1394311
-
-
>
<
html
>
<
head
>
<
meta
charset
=
"
UTF
-
8
"
>
<
style
>
span
{
font
-
family
:
Foo
;
/
*
insert
a
bogus
font
-
family
to
avoid
Bug
1367860
*
/
font
-
weight
:
bold
;
border
:
2px
solid
black
;
}
<
/
style
>
<
/
head
>
<
body
style
=
"
font
-
size
:
xx
-
large
"
>
<
span
lang
=
"
zh
-
CN
"
>
<
/
span
>
<
span
lang
=
"
ZH
-
CN
"
>
<
/
span
>
<
span
lang
=
"
zh
-
Hans
"
>
<
/
span
>
<
span
lang
=
"
ZH
-
HANS
"
>
<
/
span
>
<
br
>
<
span
lang
=
"
zh
-
TW
"
>
<
/
span
>
<
span
lang
=
"
ZH
-
TW
"
>
<
/
span
>
<
span
lang
=
"
zh
-
Hant
"
>
<
/
span
>
<
span
lang
=
"
ZH
-
HANT
"
>
<
/
span
>
<
br
>
<
span
lang
=
"
ja
-
JP
"
>
<
/
span
>
<
span
lang
=
"
JA
-
JP
"
>
<
/
span
>
<
br
>
<
span
lang
=
"
ko
-
KR
"
>
<
/
span
>
<
span
lang
=
"
KO
-
KR
"
>
<
/
span
>
<
br
>
<
/
body
>
<
/
html
>
