<
!
DOCTYPE
HTML
>
<
html
>
<
head
>
<
title
>
Localized
font
family
names
<
/
title
>
<
meta
http
-
equiv
=
"
Content
-
Type
"
content
=
"
text
/
html
;
charset
=
utf
-
8
"
/
>
<
style
type
=
"
text
/
css
"
>
body
{
margin
:
50px
;
font
-
size
:
24px
;
line
-
height
:
1
.
8em
;
}
#
test37
{
font
-
family
:
"
"
;
}
#
test38
{
font
-
family
:
"
"
;
}
#
test39
{
font
-
family
:
"
"
;
}
#
test40
{
font
-
family
:
"
-
ExtB
"
;
}
#
test41
{
font
-
family
:
"
"
;
}
#
test43
{
font
-
family
:
"
_HKSCS
"
;
}
#
test44
{
font
-
family
:
"
"
;
}
#
test46
{
font
-
family
:
"
"
;
}
#
test47
{
font
-
family
:
"
"
;
}
#
test48
{
font
-
family
:
"
"
;
}
<
/
style
>
<
script
type
=
"
text
/
javascript
"
>
<
/
script
>
<
/
head
>
<
body
>
<
p
id
=
"
test37
"
>
Meiryo
<
/
p
>
<
p
id
=
"
test38
"
>
Microsoft
JhengHei
<
/
p
>
<
p
id
=
"
test39
"
>
Microsoft
YaHei
<
/
p
>
<
p
id
=
"
test40
"
>
-
ExtB
MingLiU
-
ExtB
<
/
p
>
<
p
id
=
"
test41
"
>
MingLiU
<
/
p
>
<
p
id
=
"
test43
"
>
_HKSCS
MingLiU_HKSCS
<
/
p
>
<
p
id
=
"
test44
"
>
NSimSun
<
/
p
>
<
p
id
=
"
test46
"
>
PMingLiU
<
/
p
>
<
p
id
=
"
test47
"
>
Raanana
<
/
p
>
<
p
id
=
"
test48
"
>
STFangsong
<
/
p
>
<
/
body
>
<
/
html
>
