<
!
DOCTYPE
HTML
>
<
html
>
<
head
>
<
title
>
Localized
font
family
names
(
ref
)
<
/
title
>
<
meta
http
-
equiv
=
"
Content
-
Type
"
content
=
"
text
/
html
;
charset
=
utf
-
8
"
/
>
<
style
type
=
"
text
/
css
"
>
body
{
margin
:
50px
;
font
-
size
:
24px
;
}
#
test49
{
font
-
family
:
"
STHeiti
"
;
}
#
test51
{
font
-
family
:
"
STSong
"
;
}
#
test52
{
font
-
family
:
"
Sazanami
Gothic
"
;
}
#
test53
{
font
-
family
:
"
Sazanami
Mincho
"
;
}
#
test54
{
font
-
family
:
"
SimHei
"
;
}
#
test55
{
font
-
family
:
"
SimSun
"
;
}
<
/
style
>
<
script
type
=
"
text
/
javascript
"
>
<
/
script
>
<
/
head
>
<
body
>
<
p
id
=
"
test49
"
>
STHeiti
<
/
p
>
<
p
id
=
"
test51
"
>
STSong
<
/
p
>
<
p
id
=
"
test52
"
>
Sazanami
Gothic
<
/
p
>
<
p
id
=
"
test53
"
>
Sazanami
Mincho
<
/
p
>
<
p
id
=
"
test54
"
>
SimHei
<
/
p
>
<
p
id
=
"
test55
"
>
SimSun
<
/
p
>
<
/
body
>
<
/
html
>
