<
!
DOCTYPE
HTML
>
<
html
>
<
head
>
<
title
>
Localized
font
family
names
<
/
title
>
<
meta
http
-
equiv
=
"
Content
-
Type
"
content
=
"
text
/
html
;
charset
=
utf
-
8
"
/
>
<
style
type
=
"
text
/
css
"
>
body
{
margin
:
50px
;
font
-
size
:
24px
;
}
#
test20
{
font
-
family
:
"
ProN
"
;
}
#
test22
{
font
-
family
:
"
ProN
"
;
}
#
test23
{
font
-
family
:
"
Pro
"
;
}
#
test24
{
font
-
family
:
"
"
;
}
#
test30
{
font
-
family
:
"
Pro
"
;
}
#
test31
{
font
-
family
:
"
Pro
"
;
}
#
test33
{
font
-
family
:
"
"
;
}
#
test34
{
font
-
family
:
"
"
;
}
#
test35
{
font
-
family
:
"
"
;
}
#
test36
{
font
-
family
:
"
"
;
}
<
/
style
>
<
script
type
=
"
text
/
javascript
"
>
<
/
script
>
<
/
head
>
<
body
>
<
p
id
=
"
test20
"
>
ProN
Hiragino
Maru
Gothic
ProN
<
/
p
>
<
p
id
=
"
test22
"
>
ProN
Hiragino
Mincho
ProN
<
/
p
>
<
p
id
=
"
test23
"
>
Pro
Hiragino
Mincho
Pro
<
/
p
>
<
p
id
=
"
test24
"
>
KaiTi
<
/
p
>
<
p
id
=
"
test30
"
>
Pro
LiHei
Pro
<
/
p
>
<
p
id
=
"
test31
"
>
Pro
LiSong
Pro
<
/
p
>
<
p
id
=
"
test33
"
>
MS
Mincho
<
/
p
>
<
p
id
=
"
test34
"
>
MS
PGothic
<
/
p
>
<
p
id
=
"
test35
"
>
MS
PMincho
<
/
p
>
<
p
id
=
"
test36
"
>
Malgun
Gothic
<
/
p
>
<
/
body
>
<
/
html
>
