<
!
DOCTYPE
html
>
<
html
lang
=
"
ja
"
>
<
head
>
<
meta
charset
=
"
UTF
-
8
"
>
<
title
>
Bug
1052123
-
Autohide
ruby
annotations
which
are
identical
to
their
bases
<
/
title
>
<
link
rel
=
"
stylesheet
"
href
=
"
common
.
css
"
>
<
script
>
window
.
onload
=
function
(
)
{
/
/
Force
a
reflow
before
changes
.
document
.
body
.
clientWidth
;
var
elems
=
document
.
querySelectorAll
(
'
[
data
-
content
]
'
)
;
Array
.
from
(
elems
)
.
forEach
(
function
(
e
)
{
e
.
textContent
=
e
.
dataset
.
content
;
}
)
;
}
;
<
/
script
>
<
/
head
>
<
body
>
<
p
>
<
ruby
>
<
rb
>
<
/
rb
>
<
rb
>
<
/
rb
>
<
rb
>
<
/
rb
>
<
rb
>
<
/
rb
>
<
rt
>
<
/
rt
>
<
rt
data
-
content
=
"
ri
"
>
<
/
rt
>
<
rt
>
<
/
rt
>
<
rt
>
<
/
rt
>
<
/
ruby
>
<
/
p
>
<
p
>
<
ruby
>
<
rb
>
<
/
rb
>
<
rb
data
-
content
=
"
ri
"
>
<
/
rb
>
<
rb
>
<
/
rb
>
<
rb
>
<
/
rb
>
<
rt
>
<
/
rt
>
<
rt
>
<
/
rt
>
<
rt
>
<
/
rt
>
<
rt
>
<
/
rt
>
<
/
ruby
>
<
/
p
>
<
p
>
<
ruby
>
<
rb
>
<
/
rb
>
<
rb
>
<
/
rb
>
<
rb
>
<
/
rb
>
<
rb
>
<
/
rb
>
<
rt
>
<
/
rt
>
<
rt
data
-
content
=
"
"
>
ri
<
/
rt
>
<
rt
>
<
/
rt
>
<
rt
>
<
/
rt
>
<
/
ruby
>
<
/
p
>
<
p
>
<
ruby
>
<
rb
>
<
/
rb
>
<
rb
data
-
content
=
"
"
>
ri
<
/
rb
>
<
rb
>
<
/
rb
>
<
rb
>
<
/
rb
>
<
rt
>
<
/
rt
>
<
rt
>
<
/
rt
>
<
rt
>
<
/
rt
>
<
rt
>
<
/
rt
>
<
/
ruby
>
<
/
p
>
<
/
body
>
<
/
html
>
