<
!
DOCTYPE
html
>
<
html
lang
=
"
ja
"
>
<
head
>
<
meta
charset
=
"
UTF
-
8
"
>
<
title
>
Bug
1404179
<
/
title
>
<
link
rel
=
"
stylesheet
"
href
=
"
common
.
css
"
>
<
style
>
#
test
{
border
:
1px
solid
;
text
-
align
:
center
;
}
<
/
style
>
<
/
head
>
<
body
>
<
div
id
=
"
test
"
>
<
p
>
<
ruby
>
<
rb
>
<
rb
>
<
rb
>
<
rb
>
<
rb
>
<
rb
>
<
rb
>
<
rb
>
<
/
ruby
>
<
/
p
>
<
p
>
<
ruby
>
<
rbc
>
<
/
rbc
>
<
rbc
>
<
/
rbc
>
<
rbc
>
<
/
rbc
>
<
rbc
>
<
/
rbc
>
<
rbc
>
<
/
rbc
>
<
rbc
>
<
/
rbc
>
<
rbc
>
<
/
rbc
>
<
rbc
>
<
/
rbc
>
<
/
ruby
>
<
/
p
>
<
/
div
>
<
script
>
let
div
=
document
.
getElementById
(
"
test
"
)
;
document
.
body
.
offsetHeight
;
test
.
style
.
width
=
"
2
.
5em
"
;
document
.
body
.
offsetHeight
;
test
.
style
.
width
=
"
4
.
5em
"
;
document
.
body
.
offsetHeight
;
test
.
style
.
width
=
"
2
.
5em
"
;
<
/
script
>
<
/
body
>
<
/
html
>
