/
*
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
*
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
*
file
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
*
/
/
*
DO
NOT
EDIT
this
file
directly
instead
modify
moz
-
tab
.
tokens
.
json
*
and
run
mach
buildtokens
to
see
your
changes
.
*
/
layer
tokens
-
foundation
tokens
-
foundation
-
nova
tokens
-
prefers
-
contrast
tokens
-
prefers
-
contrast
-
nova
tokens
-
forced
-
colors
tokens
-
forced
-
colors
-
nova
tokens
-
browser
-
theme
tokens
-
browser
-
theme
-
nova
;
layer
tokens
-
foundation
{
:
root
:
host
{
-
-
tab
-
attention
-
dot
-
color
:
var
(
-
-
color
-
accent
-
attention
)
;
-
-
tab
-
background
-
color
-
hover
:
color
-
mix
(
in
srgb
currentColor
11
%
transparent
)
;
-
-
tab
-
background
-
color
-
selected
:
var
(
-
-
toolbar
-
background
-
color
)
;
-
-
tab
-
block
-
margin
:
var
(
-
-
dimension
-
4
)
;
-
-
tab
-
border
-
radius
:
var
(
-
-
toolbarbutton
-
border
-
radius
)
;
-
-
tab
-
box
-
shadow
:
var
(
-
-
box
-
shadow
-
level
-
1
)
;
-
-
tab
-
close
-
button
-
padding
:
6px
;
-
-
tab
-
hover
-
outline
-
color
:
transparent
;
-
-
tab
-
icon
-
end
-
margin
:
5
.
5px
;
-
-
tab
-
inline
-
padding
:
var
(
-
-
dimension
-
8
)
;
-
-
tab
-
inner
-
inline
-
margin
:
var
(
-
-
space
-
medium
)
;
-
-
tab
-
label
-
line
-
height
:
1
.
7
;
-
-
tab
-
loading
-
fill
:
var
(
-
-
color
-
blue
-
50
)
;
-
-
tab
-
outline
:
var
(
-
-
border
-
width
)
solid
var
(
-
-
tab
-
outline
-
color
)
;
-
-
tab
-
outline
-
color
:
transparent
;
-
-
tab
-
outline
-
offset
:
calc
(
-
1
*
var
(
-
-
border
-
width
)
)
;
-
-
tab
-
overflow
-
clip
-
margin
:
var
(
-
-
dimension
-
2
)
;
-
-
tab
-
pinned
-
container
-
margin
-
inline
-
expanded
:
var
(
-
-
space
-
small
)
;
-
-
tab
-
pinned
-
expanded
-
background
-
width
:
var
(
-
-
dimension
-
40
)
;
-
-
tab
-
pinned
-
margin
-
inline
-
expanded
:
var
(
-
-
space
-
xsmall
)
;
-
-
tab
-
selected
-
outline
-
color
:
transparent
;
-
-
tab
-
selected
-
textcolor
:
var
(
-
-
toolbar
-
text
-
color
)
;
-
-
tab
-
vertical
-
block
-
margin
:
var
(
-
-
dimension
-
2
)
;
-
-
tab
-
vertical
-
inline
-
padding
:
var
(
-
-
space
-
medium
)
;
}
}
/
*
Bug
1879900
:
Can
'
t
nest
media
queries
inside
of
:
host
:
root
selector
until
Bug
1879349
lands
*
/
layer
tokens
-
prefers
-
contrast
{
media
(
prefers
-
contrast
)
{
:
root
:
host
{
-
-
tab
-
hover
-
outline
-
color
:
currentColor
;
-
-
tab
-
selected
-
outline
-
color
:
currentColor
;
}
}
}
/
*
stylelint
-
disable
-
next
-
line
media
-
query
-
no
-
invalid
*
/
media
-
moz
-
pref
(
"
browser
.
nova
.
enabled
"
)
{
layer
tokens
-
foundation
-
nova
{
:
root
:
host
{
-
-
tab
-
background
-
color
-
hover
:
color
-
mix
(
in
srgb
currentColor
11
%
transparent
)
;
-
-
tab
-
background
-
color
-
selected
:
var
(
-
-
toolbar
-
background
-
color
)
;
-
-
tab
-
block
-
margin
:
6px
;
-
-
tab
-
border
-
color
-
accent
:
linear
-
gradient
(
96deg
var
(
-
-
tab
-
border
-
color
-
selected
-
leading
)
20
.
68
%
var
(
-
-
tab
-
border
-
color
-
selected
-
trailing
)
79
.
34
%
)
;
-
-
tab
-
border
-
color
-
selected
-
leading
:
var
(
-
-
color
-
violet
-
30
)
;
-
-
tab
-
border
-
color
-
selected
-
trailing
:
var
(
-
-
color
-
orange
-
30
)
;
-
-
tab
-
border
-
radius
:
var
(
-
-
border
-
radius
-
circle
)
;
-
-
tab
-
selected
-
shadow
:
none
;
}
}
/
*
Bug
1879900
:
Can
'
t
nest
media
queries
inside
of
:
host
:
root
selector
until
Bug
1879349
lands
*
/
layer
tokens
-
browser
-
theme
-
nova
{
media
not
(
(
forced
-
colors
)
or
(
-
moz
-
native
-
theme
)
)
{
:
root
:
not
(
[
lwtheme
]
)
:
host
(
.
anonymous
-
content
-
host
)
{
-
-
tab
-
background
-
color
-
hover
:
light
-
dark
(
color
-
mix
(
in
lch
var
(
-
-
color
-
violet
-
desaturated
-
50
)
25
%
transparent
)
color
-
mix
(
in
lch
var
(
-
-
color
-
violet
-
desaturated
-
30
)
40
%
transparent
)
)
;
-
-
tab
-
background
-
color
-
selected
:
var
(
-
-
background
-
color
-
box
)
;
}
}
}
}
