/
*
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
*
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
*
file
You
can
obtain
one
at
https
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
*
/
.
nova
-
enabled
.
ds
-
card
-
grid
:
not
(
.
ds
-
section
-
grid
)
.
ds
-
card
.
ds
-
spoc
{
&
:
not
(
.
placeholder
)
{
box
-
shadow
:
none
;
&
:
hover
&
:
focus
-
within
{
box
-
shadow
:
var
(
-
-
card
-
box
-
shadow
-
hover
)
;
}
}
.
img
-
wrapper
{
padding
:
var
(
-
-
space
-
large
)
var
(
-
-
space
-
large
)
0
;
}
.
img
img
{
border
-
radius
:
var
(
-
-
border
-
radius
-
medium
)
;
}
.
card
-
stp
-
button
-
position
-
wrapper
{
inset
-
block
-
end
:
var
(
-
-
space
-
medium
)
;
}
.
meta
{
padding
:
var
(
-
-
space
-
medium
)
var
(
-
-
space
-
large
)
var
(
-
-
space
-
large
)
;
.
title
{
font
-
size
:
var
(
-
-
font
-
size
-
small
)
;
}
.
excerpt
{
display
:
none
;
}
}
}
.
nova
-
enabled
.
ds
-
card
-
grid
:
not
(
.
ds
-
section
-
grid
)
.
ds
-
card
.
nova
-
card
-
ui
:
not
(
.
ds
-
spoc
)
{
&
:
not
(
.
placeholder
)
{
box
-
shadow
:
none
;
.
img
-
wrapper
>
.
ds
-
image
.
img
>
img
{
border
-
radius
:
var
(
-
-
border
-
radius
-
medium
)
;
}
}
&
:
hover
&
:
active
&
:
focus
-
within
{
box
-
shadow
:
var
(
-
-
card
-
box
-
shadow
-
hover
)
;
}
.
ds
-
card
-
link
{
gap
:
var
(
-
-
space
-
medium
)
;
padding
:
var
(
-
-
space
-
large
)
;
}
.
card
-
stp
-
button
-
position
-
wrapper
{
inset
-
block
-
end
:
var
(
-
-
space
-
large
)
;
}
.
meta
{
padding
:
0
;
min
-
height
:
72px
;
gap
:
var
(
-
-
space
-
small
)
;
.
info
-
wrap
.
title
{
font
-
size
:
var
(
-
-
font
-
size
-
small
)
;
margin
-
block
-
end
:
0
;
}
.
info
-
wrap
.
excerpt
{
display
:
none
;
}
.
sections
-
card
-
footer
{
margin
-
block
-
start
:
auto
;
margin
-
block
-
end
:
0
;
min
-
height
:
var
(
-
-
size
-
item
-
medium
)
;
padding
-
inline
-
end
:
var
(
-
-
space
-
xxlarge
)
;
}
}
}
.
nova
-
enabled
.
ds
-
card
.
nova
-
card
-
ui
{
.
sections
-
card
-
footer
.
source
-
wrapper
{
gap
:
calc
(
var
(
-
-
space
-
xsmall
)
+
var
(
-
-
space
-
xxsmall
)
)
;
max
-
width
:
none
;
}
.
sections
-
card
-
footer
.
source
-
wrapper
img
{
width
:
var
(
-
-
icon
-
size
)
;
height
:
var
(
-
-
icon
-
size
)
;
margin
-
inline
-
end
:
0
;
border
-
radius
:
var
(
-
-
border
-
radius
-
circle
)
;
}
}
.
nova
-
enabled
.
ds
-
card
.
ds
-
spoc
{
.
story
-
footer
{
margin
-
block
:
0
;
height
:
unset
;
.
source
-
wrapper
{
gap
:
var
(
-
-
space
-
small
)
;
margin
-
block
-
end
:
var
(
-
-
space
-
xsmall
)
;
}
.
ds
-
spoc
-
separator
{
width
:
3px
;
height
:
3px
;
border
-
radius
:
var
(
-
-
border
-
radius
-
circle
)
;
background
-
color
:
currentColor
;
color
:
var
(
-
-
text
-
color
-
deemphasized
)
;
}
.
ds
-
spoc
-
sponsored
{
font
-
size
:
var
(
-
-
font
-
size
-
small
)
;
}
}
}
