/
*
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
*
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
file
*
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
*
/
/
*
stylelint
-
disable
stylelint
-
plugin
-
mozilla
/
use
-
design
-
tokens
*
/
.
sports
{
include
newtab
-
card
-
style
;
background
-
image
:
url
(
'
chrome
:
/
/
newtab
/
content
/
data
/
content
/
assets
/
sports
-
intro
-
background
.
png
'
)
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
contain
;
border
-
radius
:
var
(
-
-
border
-
radius
-
large
)
;
padding
:
var
(
-
-
space
-
medium
)
;
display
:
flex
;
flex
-
direction
:
column
;
box
-
shadow
:
var
(
-
-
box
-
shadow
-
card
)
;
&
.
medium
-
widget
{
grid
-
row
:
span
2
;
background
-
image
:
url
(
'
chrome
:
/
/
newtab
/
content
/
data
/
content
/
assets
/
running
-
firefox
.
png
'
)
;
background
-
size
:
cover
;
background
-
position
:
center
;
.
sports
-
title
-
wrapper
{
align
-
items
:
center
;
margin
-
block
-
end
:
0
;
}
.
sports
-
intro
-
wrapper
>
.
sports
-
intro
-
lede
{
display
:
none
;
}
.
sports
-
intro
-
title
{
font
-
size
:
var
(
-
-
font
-
size
-
root
)
;
}
.
sports
-
buttons
-
wrapper
{
margin
-
block
-
start
:
var
(
-
-
space
-
medium
)
;
}
}
&
.
large
-
widget
{
grid
-
row
:
span
4
;
.
sports
-
intro
-
wrapper
{
margin
-
block
-
start
:
var
(
-
-
space
-
large
)
;
}
.
sports
-
buttons
-
wrapper
{
margin
-
block
-
start
:
var
(
-
-
space
-
large
)
;
}
}
}
.
sports
-
title
-
wrapper
{
display
:
grid
;
grid
-
template
-
columns
:
1fr
auto
1fr
;
margin
-
block
-
end
:
var
(
-
-
space
-
xsmall
)
;
.
sports
-
intro
-
title
{
margin
-
block
:
0
;
max
-
width
:
250px
;
}
.
sports
-
intro
-
lede
{
margin
-
block
-
end
:
var
(
-
-
space
-
small
)
;
}
}
.
sports
-
context
-
menu
-
wrapper
{
grid
-
column
:
3
;
justify
-
self
:
end
;
opacity
:
0
;
pointer
-
events
:
none
;
.
sports
-
context
-
menu
-
button
:
:
part
(
button
)
{
color
:
var
(
-
-
color
-
black
)
;
}
}
.
sports
:
hover
.
sports
:
focus
-
within
{
background
-
image
:
url
(
'
chrome
:
/
/
newtab
/
content
/
data
/
content
/
assets
/
sports
-
intro
-
background
.
png
'
)
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
contain
;
&
.
medium
-
widget
{
background
-
image
:
url
(
'
chrome
:
/
/
newtab
/
content
/
data
/
content
/
assets
/
running
-
firefox
.
png
'
)
;
background
-
size
:
cover
;
}
.
sports
-
context
-
menu
-
wrapper
{
opacity
:
1
;
pointer
-
events
:
auto
;
}
}
.
sports
-
body
{
flex
:
1
;
display
:
flex
;
flex
-
direction
:
column
;
gap
:
var
(
-
-
space
-
small
)
;
}
.
sports
-
live
-
scores
{
display
:
flex
;
flex
-
direction
:
column
;
gap
:
var
(
-
-
space
-
xsmall
)
;
}
.
sports
-
intro
-
wrapper
{
text
-
align
:
center
;
color
:
var
(
-
-
color
-
black
)
;
}
.
sports
-
intro
-
title
{
margin
-
block
:
0
;
font
-
size
:
var
(
-
-
font
-
size
-
heading
-
xlarge
)
;
font
-
weight
:
var
(
-
-
font
-
weight
-
heading
)
;
}
.
sports
-
buttons
-
wrapper
{
display
:
flex
;
flex
-
direction
:
column
;
align
-
items
:
center
;
.
sports
-
view
-
schedule
{
margin
-
block
-
end
:
var
(
-
-
space
-
small
)
;
}
}
