/
*
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
*
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
*
file
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
*
/
#
dialogBody
{
font
:
menu
;
display
:
flex
;
flex
-
direction
:
row
;
align
-
items
:
flex
-
start
;
}
.
question
-
icon
{
margin
-
block
-
start
:
0
;
}
#
title
{
margin
-
block
-
start
:
0
;
font
-
weight
:
var
(
-
-
heading
-
font
-
weight
)
;
}
ul
{
padding
-
inline
-
start
:
var
(
-
-
space
-
xxlarge
)
;
margin
-
block
-
start
:
var
(
-
-
space
-
small
)
;
}
#
warning
{
font
-
weight
:
var
(
-
-
font
-
weight
-
bold
)
;
}
#
descriptionStart
{
margin
-
block
-
end
:
var
(
-
-
space
-
small
)
;
}
