/
*
*
*
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
*
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
*
file
You
can
obtain
one
at
https
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
*
/
body
[
is
-
moz
-
browser
]
.
other
-
browser
body
:
not
(
[
is
-
moz
-
browser
]
)
.
moz
-
browser
{
display
:
none
;
}
body
{
display
:
flex
;
flex
-
direction
:
column
;
font
:
message
-
box
;
font
-
size
:
15px
;
width
:
28
.
5rem
;
height
:
100vh
;
justify
-
content
:
safe
center
;
margin
:
auto
;
color
:
#
15141a
;
}
img
{
width
:
80px
;
height
:
80px
;
align
-
self
:
center
;
}
h1
{
text
-
align
:
center
;
font
-
weight
:
600
;
}
strong
{
font
-
weight
:
600
;
}
a
{
color
:
#
285ed7
;
}
dl
{
border
:
1px
solid
#
cfcfd8
;
border
-
radius
:
8px
;
padding
:
0
.
5rem
1rem
;
&
>
*
{
margin
-
block
:
0
.
25rem
;
}
}
dt
{
font
-
weight
:
600
;
float
:
inline
-
start
;
clear
:
inline
-
start
;
margin
-
inline
-
end
:
0
.
25rem
;
}
dd
{
float
:
inline
-
start
;
margin
-
inline
:
0
;
}
#
backup
-
file
-
path
-
value
{
background
-
color
:
#
f9f9fb
;
border
:
1px
solid
#
cfcfd8
;
border
-
radius
:
4px
;
padding
:
0
.
5rem
;
clear
:
inline
-
start
;
}
ol
>
li
{
margin
-
block
:
1
.
5rem
;
}
a
.
button
-
link
{
appearance
:
none
;
color
:
#
fbfbfe
;
border
:
1px
solid
transparent
;
border
-
radius
:
4px
;
background
-
color
:
#
0060df
;
font
-
size
:
inherit
;
margin
-
inline
-
start
:
0
.
75rem
;
padding
:
0
.
25rem
1rem
;
text
-
decoration
:
none
;
&
:
hover
{
background
-
color
:
#
0250bb
;
&
:
active
{
background
-
color
:
#
073072
;
}
}
}
