[
Desktop
Entry
]
Version
=
1
.
0
Name
=
Firefox
Web
Browser
Name
[
ar
]
=
Name
[
ast
]
=
Restolador
web
Firefox
Name
[
bn
]
=
Name
[
ca
]
=
Navegador
web
Firefox
Name
[
cs
]
=
Firefox
Webov
prohl
e
Name
[
da
]
=
Firefox
-
internetbrowser
Name
[
el
]
=
Firefox
Name
[
es
]
=
Navegador
web
Firefox
Name
[
et
]
=
Firefoxi
veebibrauser
Name
[
fa
]
=
Firefox
Name
[
fi
]
=
Firefox
-
selain
Name
[
fr
]
=
Navigateur
Web
Firefox
Name
[
gl
]
=
Navegador
web
Firefox
Name
[
he
]
=
Firefox
Name
[
hr
]
=
Firefox
web
preglednik
Name
[
hu
]
=
Firefox
webb
ng
sz
Name
[
it
]
=
Firefox
Browser
Web
Name
[
ja
]
=
Firefox
Name
[
ko
]
=
Firefox
Name
[
ku
]
=
Geroka
tor
Firefox
Name
[
lt
]
=
Firefox
interneto
nar
ykl
Name
[
nb
]
=
Firefox
Nettleser
Name
[
nl
]
=
Firefox
webbrowser
Name
[
nn
]
=
Firefox
Nettlesar
Name
[
no
]
=
Firefox
Nettleser
Name
[
pl
]
=
Przegl
darka
WWW
Firefox
Name
[
pt
]
=
Firefox
Navegador
Web
Name
[
pt_BR
]
=
Navegador
Web
Firefox
Name
[
ro
]
=
Firefox
Navigator
Internet
Name
[
ru
]
=
-
Firefox
Name
[
sk
]
=
Firefox
-
internetov
prehliada
Name
[
sl
]
=
Firefox
spletni
brskalnik
Name
[
sv
]
=
Firefox
webbl
sare
Name
[
tr
]
=
Firefox
Web
Taray
c
s
Name
[
ug
]
=
Firefox
Name
[
uk
]
=
-
Firefox
Name
[
vi
]
=
Tr
nh
duy
t
web
Firefox
Name
[
zh_CN
]
=
Firefox
Name
[
zh_TW
]
=
Firefox
Comment
=
Browse
the
World
Wide
Web
Comment
[
ar
]
=
Comment
[
ast
]
=
Restola
pela
Rede
Comment
[
bn
]
=
Comment
[
ca
]
=
Navegueu
per
la
web
Comment
[
cs
]
=
Prohl
en
str
nek
World
Wide
Webu
Comment
[
da
]
=
Surf
p
internettet
Comment
[
de
]
=
Im
Internet
surfen
Comment
[
el
]
=
(
Web
)
Comment
[
es
]
=
Navegue
por
la
web
Comment
[
et
]
=
Lehitse
veebi
Comment
[
fa
]
=
Comment
[
fi
]
=
Selaa
Internetin
WWW
-
sivuja
Comment
[
fr
]
=
Naviguer
sur
le
Web
Comment
[
gl
]
=
Navegar
pola
rede
Comment
[
he
]
=
Comment
[
hr
]
=
Pretra
ite
web
Comment
[
hu
]
=
A
vil
gh
l
b
ng
sz
se
Comment
[
it
]
=
Esplora
il
web
Comment
[
ja
]
=
Comment
[
ko
]
=
Comment
[
ku
]
=
Li
tor
bigere
Comment
[
lt
]
=
Nar
ykite
internete
Comment
[
nb
]
=
Surf
p
nettet
Comment
[
nl
]
=
Verken
het
internet
Comment
[
nn
]
=
Surf
p
nettet
Comment
[
no
]
=
Surf
p
nettet
Comment
[
pl
]
=
Przegl
danie
stron
WWW
Comment
[
pt
]
=
Navegue
na
Internet
Comment
[
pt_BR
]
=
Navegue
na
Internet
Comment
[
ro
]
=
Naviga
i
pe
Internet
Comment
[
ru
]
=
Comment
[
sk
]
=
Prehliadanie
internetu
Comment
[
sl
]
=
Brskajte
po
spletu
Comment
[
sv
]
=
Surfa
p
webben
Comment
[
tr
]
=
nternet
'
te
Gezinin
Comment
[
ug
]
=
Comment
[
uk
]
=
Comment
[
vi
]
=
duy
t
c
c
trang
web
Comment
[
zh_CN
]
=
Comment
[
zh_TW
]
=
GenericName
=
Web
Browser
GenericName
[
ar
]
=
GenericName
[
ast
]
=
Restolador
Web
GenericName
[
bn
]
=
GenericName
[
ca
]
=
Navegador
web
GenericName
[
cs
]
=
Webov
prohl
e
GenericName
[
da
]
=
Webbrowser
GenericName
[
el
]
=
GenericName
[
es
]
=
Navegador
web
GenericName
[
et
]
=
Veebibrauser
GenericName
[
fa
]
=
GenericName
[
fi
]
=
WWW
-
selain
GenericName
[
fr
]
=
Navigateur
Web
GenericName
[
gl
]
=
Navegador
Web
GenericName
[
he
]
=
GenericName
[
hr
]
=
Web
preglednik
GenericName
[
hu
]
=
Webb
ng
sz
GenericName
[
it
]
=
Browser
web
GenericName
[
ja
]
=
GenericName
[
ko
]
=
GenericName
[
ku
]
=
Geroka
tor
GenericName
[
lt
]
=
Interneto
nar
ykl
GenericName
[
nb
]
=
Nettleser
GenericName
[
nl
]
=
Webbrowser
GenericName
[
nn
]
=
Nettlesar
GenericName
[
no
]
=
Nettleser
GenericName
[
pl
]
=
Przegl
darka
WWW
GenericName
[
pt
]
=
Navegador
Web
GenericName
[
pt_BR
]
=
Navegador
Web
GenericName
[
ro
]
=
Navigator
Internet
GenericName
[
ru
]
=
-
GenericName
[
sk
]
=
Internetov
prehliada
GenericName
[
sl
]
=
Spletni
brskalnik
GenericName
[
sv
]
=
Webbl
sare
GenericName
[
tr
]
=
Web
Taray
c
GenericName
[
ug
]
=
GenericName
[
uk
]
=
-
GenericName
[
vi
]
=
Tr
nh
duy
t
Web
GenericName
[
zh_CN
]
=
GenericName
[
zh_TW
]
=
Keywords
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
Keywords
[
ar
]
=
;
;
;
;
Keywords
[
ast
]
=
Internet
;
WWW
;
Restolador
;
Web
;
Esplorador
Keywords
[
ca
]
=
Internet
;
WWW
;
Navegador
;
Web
;
Explorador
;
Explorer
Keywords
[
cs
]
=
Internet
;
WWW
;
Prohl
e
;
Web
;
Explorer
Keywords
[
da
]
=
Internet
;
Internettet
;
WWW
;
Browser
;
Browse
;
Web
;
Surf
;
Nettet
Keywords
[
de
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
Webseite
;
Site
;
surfen
;
online
;
browsen
Keywords
[
el
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
;
;
Firefox
;
;
Keywords
[
es
]
=
Explorador
;
Internet
;
WWW
Keywords
[
fi
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
selain
;
Internet
-
selain
;
internetselain
;
verkkoselain
;
netti
;
surffaa
Keywords
[
fr
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
Fureteur
;
Surfer
;
Navigateur
Keywords
[
he
]
=
;
;
;
;
;
;
;
Keywords
[
hr
]
=
Internet
;
WWW
;
preglednik
;
Web
Keywords
[
hu
]
=
Internet
;
WWW
;
B
ng
sz
;
Web
;
H
l
;
Net
;
Explorer
Keywords
[
it
]
=
Internet
;
WWW
;
Browser
;
Web
;
Navigatore
Keywords
[
is
]
=
Internet
;
WWW
;
Vafri
;
Vefur
;
Netvafri
;
Flakk
Keywords
[
ja
]
=
Internet
;
WWW
;
Web
;
;
;
;
Keywords
[
nb
]
=
Internett
;
WWW
;
Nettleser
;
Explorer
;
Web
;
Browser
;
Nettside
Keywords
[
nl
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
Verkenner
;
Website
;
Surfen
;
Online
Keywords
[
pt
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorador
;
Navegador
Keywords
[
pt_BR
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorador
;
Navegador
Keywords
[
ru
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
;
;
;
;
Keywords
[
sk
]
=
Internet
;
WWW
;
Prehliada
;
Web
;
Explorer
Keywords
[
sl
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
Brskalnik
;
Splet
Keywords
[
tr
]
=
nternet
;
WWW
;
Taray
c
;
Web
;
Gezgin
;
Web
sitesi
;
Site
;
s
rf
;
evrimi
i
;
tara
Keywords
[
uk
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
;
;
;
;
;
;
;
;
Keywords
[
vi
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
Tr
nh
duy
t
;
Trang
web
Keywords
[
zh_CN
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
;
;
;
;
Firefox
;
ff
;
;
;
Keywords
[
zh_TW
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
;
;
;
;
;
Exec
=
firefox
%
u
Icon
=
org
.
mozilla
.
firefox
Terminal
=
false
Type
=
Application
MimeType
=
text
/
html
;
text
/
xml
;
application
/
xhtml
+
xml
;
application
/
vnd
.
mozilla
.
xul
+
xml
;
text
/
mml
;
x
-
scheme
-
handler
/
http
;
x
-
scheme
-
handler
/
https
;
StartupNotify
=
true
Categories
=
Network
;
WebBrowser
;
Keywords
=
web
;
browser
;
internet
;
Actions
=
new
-
window
;
new
-
private
-
window
;
profile
-
manager
-
window
;
StartupWMClass
=
firefox
[
Desktop
Action
new
-
window
]
Name
=
Open
a
New
Window
Name
[
ach
]
=
Dirica
manyen
Name
[
af
]
=
Nuwe
venster
Name
[
an
]
=
Nueva
finestra
Name
[
ar
]
=
Name
[
as
]
=
Name
[
ast
]
=
Ventana
nueva
Name
[
az
]
=
Yeni
P
nc
r
Name
[
be
]
=
Name
[
bg
]
=
Name
[
bn
-
BD
]
=
(
N
)
Name
[
bn
-
IN
]
=
Name
[
br
]
=
Prenestr
nevez
Name
[
brx
]
=
'
(
N
)
Name
[
bs
]
=
Novi
prozor
Name
[
ca
]
=
Finestra
nova
Name
[
cak
]
=
K
'
ak
'
a
'
tzuw
ch
Name
[
cs
]
=
Nov
okno
Name
[
cy
]
=
Ffenestr
Newydd
Name
[
da
]
=
Nyt
vindue
Name
[
de
]
=
Neues
Fenster
Name
[
dsb
]
=
Nowe
wokno
Name
[
el
]
=
Name
[
en
-
GB
]
=
New
Window
Name
[
en
-
US
]
=
New
Window
Name
[
en
-
ZA
]
=
New
Window
Name
[
eo
]
=
Nova
fenestro
Name
[
es
-
AR
]
=
Nueva
ventana
Name
[
es
-
CL
]
=
Nueva
ventana
Name
[
es
-
ES
]
=
Nueva
ventana
Name
[
es
-
MX
]
=
Nueva
ventana
Name
[
et
]
=
Uus
aken
Name
[
eu
]
=
Leiho
berria
Name
[
fa
]
=
Name
[
ff
]
=
Henorde
Hesere
Name
[
fi
]
=
Uusi
ikkuna
Name
[
fr
]
=
Nouvelle
fen
tre
Name
[
fy
-
NL
]
=
Nij
finster
Name
[
ga
-
IE
]
=
Fuinneog
Nua
Name
[
gd
]
=
Uinneag
r
Name
[
gl
]
=
Nova
xanela
Name
[
gn
]
=
Ovet
pyahu
Name
[
gu
-
IN
]
=
Name
[
he
]
=
Name
[
hi
-
IN
]
=
Name
[
hr
]
=
Novi
prozor
Name
[
hsb
]
=
Nowe
wokno
Name
[
hu
]
=
j
ablak
Name
[
hy
-
AM
]
=
Name
[
id
]
=
Jendela
Baru
Name
[
is
]
=
N
r
gluggi
Name
[
it
]
=
Nuova
finestra
Name
[
ja
]
=
Name
[
ja
-
JP
-
mac
]
=
Name
[
ka
]
=
Name
[
kk
]
=
Name
[
km
]
=
Name
[
kn
]
=
Name
[
ko
]
=
Name
[
kok
]
=
Name
[
ks
]
=
Name
[
lij
]
=
Neuvo
barcon
Name
[
lo
]
=
Name
[
lt
]
=
Naujas
langas
Name
[
ltg
]
=
Jauns
l
gs
Name
[
lv
]
=
Jauns
logs
Name
[
mai
]
=
Name
[
mk
]
=
Name
[
ml
]
=
Name
[
mr
]
=
Name
[
ms
]
=
Tetingkap
Baru
Name
[
my
]
=
Name
[
nb
-
NO
]
=
Nytt
vindu
Name
[
ne
-
NP
]
=
Name
[
nl
]
=
Nieuw
venster
Name
[
nn
-
NO
]
=
Nytt
vindauge
Name
[
or
]
=
Name
[
pa
-
IN
]
=
Name
[
pl
]
=
Nowe
okno
Name
[
pt
-
BR
]
=
Nova
janela
Name
[
pt
-
PT
]
=
Nova
janela
Name
[
rm
]
=
Nova
fanestra
Name
[
ro
]
=
Fereastr
nou
Name
[
ru
]
=
Name
[
sat
]
=
(
N
)
Name
[
si
]
=
Name
[
sk
]
=
Nov
okno
Name
[
sl
]
=
Novo
okno
Name
[
son
]
=
Zanfun
taaga
Name
[
sq
]
=
Dritare
e
Re
Name
[
sr
]
=
Name
[
sv
-
SE
]
=
Nytt
f
nster
Name
[
ta
]
=
Name
[
te
]
=
Name
[
th
]
=
Name
[
tr
]
=
Yeni
pencere
Name
[
tsz
]
=
Eraatarakua
jimpani
Name
[
uk
]
=
Name
[
ur
]
=
Name
[
uz
]
=
Yangi
oyna
Name
[
vi
]
=
C
a
s
m
i
Name
[
wo
]
=
Palanteer
bu
bees
Name
[
xh
]
=
Ifestile
entsha
Name
[
zh
-
CN
]
=
Name
[
zh
-
TW
]
=
Exec
=
firefox
-
-
new
-
window
%
u
[
Desktop
Action
new
-
private
-
window
]
Name
=
Open
a
New
Private
Window
Name
[
ach
]
=
Dirica
manyen
me
mung
Name
[
af
]
=
Nuwe
privaatvenster
Name
[
an
]
=
Nueva
finestra
privada
Name
[
ar
]
=
Name
[
as
]
=
Name
[
ast
]
=
Ventana
privada
nueva
Name
[
az
]
=
Yeni
M
xfi
P
nc
r
Name
[
be
]
=
Name
[
bg
]
=
Name
[
bn
-
BD
]
=
Name
[
bn
-
IN
]
=
Name
[
br
]
=
Prenestr
merdei
prevez
nevez
Name
[
brx
]
=
'
Name
[
bs
]
=
Novi
privatni
prozor
Name
[
ca
]
=
Finestra
privada
nova
Name
[
cak
]
=
K
'
ak
'
a
'
ichinan
tzuw
ch
Name
[
cs
]
=
Nov
anonymn
okno
Name
[
cy
]
=
Ffenestr
Breifat
Newydd
Name
[
da
]
=
Nyt
privat
vindue
Name
[
de
]
=
Neues
privates
Fenster
Name
[
dsb
]
=
Nowe
priwatne
wokno
Name
[
el
]
=
Name
[
en
-
GB
]
=
New
Private
Window
Name
[
en
-
US
]
=
New
Private
Window
Name
[
en
-
ZA
]
=
New
Private
Window
Name
[
eo
]
=
Nova
privata
fenestro
Name
[
es
-
AR
]
=
Nueva
ventana
privada
Name
[
es
-
CL
]
=
Nueva
ventana
privada
Name
[
es
-
ES
]
=
Nueva
ventana
privada
Name
[
es
-
MX
]
=
Nueva
ventana
privada
Name
[
et
]
=
Uus
privaatne
aken
Name
[
eu
]
=
Leiho
pribatu
berria
Name
[
fa
]
=
Name
[
ff
]
=
Henorde
Suturo
Hesere
Name
[
fi
]
=
Uusi
yksityinen
ikkuna
Name
[
fr
]
=
Nouvelle
fen
tre
de
navigation
priv
e
Name
[
fy
-
NL
]
=
Nij
priveefinster
Name
[
ga
-
IE
]
=
Fuinneog
Nua
Phr
obh
ideach
Name
[
gd
]
=
Uinneag
phr
obhaideach
r
Name
[
gl
]
=
Nova
xanela
privada
Name
[
gn
]
=
Ovet
emi
pyahu
Name
[
gu
-
IN
]
=
Name
[
he
]
=
Name
[
hi
-
IN
]
=
Name
[
hr
]
=
Novi
privatni
prozor
Name
[
hsb
]
=
Nowe
priwatne
wokno
Name
[
hu
]
=
j
priv
t
ablak
Name
[
hy
-
AM
]
=
Name
[
id
]
=
Jendela
Mode
Pribadi
Baru
Name
[
is
]
=
N
r
huli
sgluggi
Name
[
it
]
=
Nuova
finestra
anonima
Name
[
ja
]
=
Name
[
ja
-
JP
-
mac
]
=
Name
[
ka
]
=
Name
[
kk
]
=
Name
[
km
]
=
Name
[
kn
]
=
Name
[
ko
]
=
Name
[
kok
]
=
Name
[
ks
]
=
&
amp
;
Name
[
lij
]
=
Neuvo
barcon
privou
Name
[
lo
]
=
Name
[
lt
]
=
Naujas
privataus
nar
ymo
langas
Name
[
ltg
]
=
Jauns
privatais
l
gs
Name
[
lv
]
=
Jauns
priv
tais
logs
Name
[
mai
]
=
(
W
)
Name
[
mk
]
=
Name
[
ml
]
=
Name
[
mr
]
=
Name
[
ms
]
=
Tetingkap
Persendirian
Baharu
Name
[
my
]
=
New
Private
Window
Name
[
nb
-
NO
]
=
Nytt
privat
vindu
Name
[
ne
-
NP
]
=
Name
[
nl
]
=
Nieuw
priv
venster
Name
[
nn
-
NO
]
=
Nytt
privat
vindauge
Name
[
or
]
=
Name
[
pa
-
IN
]
=
Name
[
pl
]
=
Nowe
okno
prywatne
Name
[
pt
-
BR
]
=
Nova
janela
privativa
Name
[
pt
-
PT
]
=
Nova
janela
privada
Name
[
rm
]
=
Nova
fanestra
privata
Name
[
ro
]
=
Fereastr
privat
nou
Name
[
ru
]
=
Name
[
sat
]
=
(
W
)
Name
[
si
]
=
(
W
)
Name
[
sk
]
=
Nov
okno
v
re
ime
S
kromn
prehliadanie
Name
[
sl
]
=
Novo
zasebno
okno
Name
[
son
]
=
Sutura
zanfun
taaga
Name
[
sq
]
=
Dritare
e
Re
Private
Name
[
sr
]
=
Name
[
sv
-
SE
]
=
Nytt
privat
f
nster
Name
[
ta
]
=
Name
[
te
]
=
Name
[
th
]
=
Name
[
tr
]
=
Yeni
gizli
pencere
Name
[
tsz
]
=
Juchiiti
eraatarakua
jimpani
Name
[
uk
]
=
Name
[
ur
]
=
Name
[
uz
]
=
Yangi
maxfiy
oyna
Name
[
vi
]
=
C
a
s
ri
ng
t
m
i
Name
[
wo
]
=
Panlanteeru
biir
bu
bees
Name
[
xh
]
=
Ifestile
yangasese
entsha
Name
[
zh
-
CN
]
=
Name
[
zh
-
TW
]
=
Exec
=
firefox
-
-
private
-
window
%
u
[
Desktop
Action
profile
-
manager
-
window
]
Name
=
Open
the
Profile
Manager
Name
[
cs
]
=
Spr
va
profil
Name
[
de
]
=
Profilverwaltung
ffnen
Name
[
fr
]
=
Ouvrir
le
gestionnaire
de
profils
Exec
=
firefox
-
-
ProfileManager
