<
!
DOCTYPE
html
>
<
html
lang
=
"
pl
"
>
<
head
>
<
meta
charset
=
"
utf
-
8
"
>
<
title
>
Polish
hyphenation
test
<
/
title
>
<
style
>
body
{
font
-
family
:
"
Times
New
Roman
"
serif
;
/
*
prefer
TNR
to
Times
(
default
)
on
OS
X
.
.
.
*
/
-
moz
-
font
-
feature
-
settings
:
'
kern
'
off
;
/
*
.
.
.
so
that
we
can
disable
kerning
*
/
font
-
feature
-
settings
:
'
kern
'
off
;
}
<
/
style
>
<
/
head
>
<
body
>
<
div
style
=
"
width
:
0pt
;
-
moz
-
hyphens
:
auto
"
>
Unikod
przypisuje
unikalny
numer
ka
demu
znakowi
niezale
ny
od
u
ywanej
platformy
programu
czy
j
zyka
.
<
/
div
>
<
/
body
>
<
/
html
>
