<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
meta
http
-
equiv
=
"
Content
-
Type
"
content
=
"
text
/
html
;
charset
=
utf
-
8
"
>
<
style
type
=
"
text
/
css
"
>
font
-
face
{
font
-
family
:
padauk
;
src
:
url
(
.
.
/
fonts
/
sil
/
Padauk
.
ttf
)
;
}
body
{
font
:
34px
padauk
;
-
moz
-
font
-
feature
-
settings
:
"
kdot
"
on
;
font
-
feature
-
settings
:
"
kdot
"
on
;
/
*
check
that
setting
an
optional
graphite
feature
affects
rendering
:
*
this
adds
"
dots
"
to
the
ends
of
a
number
of
curved
strokes
*
/
}
<
/
style
>
<
/
head
>
<
body
>
<
p
lang
=
"
my
"
>
.
<
/
p
>
<
/
body
>
<
/
html
>
