<
!
DOCTYPE
html
>
<
html
lang
=
"
ga
-
IE
"
>
<
head
>
<
meta
charset
=
"
utf
-
8
"
>
<
title
>
Test
for
Irish
lowercasing
<
/
title
>
<
style
>
body
{
font
:
16px
/
20px
monospace
;
text
-
transform
:
none
;
word
-
break
:
keep
-
all
;
}
<
/
style
>
<
/
head
>
<
body
>
r
n
-
acmhainn
uisce
/
r
n
-
acmhainn
uisce
/
r
n
-
acmhainn
uisce
/
r
n
-
acmhainn
uisce
/
r
n
-
acmhainn
uisce
/
r
nathair
/
r
nathair
/
r
nathair
/
n
-
a
shaighdi
ir
/
gan
dul
as
aca
ach
le
n
-
a
chabhair
/
eola
ocht
na
n
-
bhar
/
eola
ocht
na
n
-
bhar
/
eola
ocht
na
n
-
bhar
/
eola
ocht
na
n
-
bhar
/
eola
ocht
na
n
-
bhar
/
amhr
n
n
isi
nta
/
amhr
n
n
isi
nta
/
amhr
n
n
isi
nta
/
lucht
na
n
-
eala
on
/
lucht
na
n
-
eala
on
/
lucht
na
n
-
eala
on
/
lucht
na
n
-
eala
on
/
lucht
na
n
-
eala
on
/
neart
daoine
/
neart
daoine
/
neart
daoine
/
ceol
na
n
-
an
/
ceol
na
n
-
an
/
ceol
na
n
-
an
/
ceol
na
n
-
an
/
ceol
na
n
-
an
/
sa
n
al
/
sa
n
al
/
sa
n
al
/
ord
na
n
-
imeachta
/
ord
na
n
-
imeachta
/
ord
na
n
-
imeachta
/
ord
na
n
-
imeachta
/
ord
na
n
-
imeachta
/
nathair
nimhe
/
nathair
nimhe
/
nathair
nimhe
/
lucht
adhartha
na
n
-
omh
nna
/
lucht
adhartha
na
n
-
omh
nna
/
lucht
adhartha
na
n
-
omh
nna
/
lucht
adhartha
na
n
-
omh
nna
/
lucht
adhartha
na
n
-
omh
nna
/
n
os
measa
/
n
os
measa
/
n
os
measa
/
gn
ithe
d
r
n
-
oidhreacht
/
gn
ithe
d
r
n
-
oidhreacht
/
gn
ithe
d
r
n
-
oidhreacht
/
gn
ithe
d
r
n
-
oidhreacht
/
gn
ithe
d
r
n
-
oidhreacht
/
duine
nochta
/
duine
nochta
/
duine
nochta
/
cult
r
na
n
-
g
/
cult
r
na
n
-
g
/
cult
r
na
n
-
g
/
cult
r
na
n
-
g
/
cult
r
na
n
-
g
/
dh
n
im
ad
/
dh
n
im
ad
/
dh
n
im
ad
/
ocht
n
-
uaire
sa
l
/
ocht
n
-
uaire
sa
l
/
ocht
n
-
uaire
sa
l
/
ocht
n
-
uaire
sa
l
/
ocht
n
-
uaire
sa
l
/
g
na
nua
/
g
na
nua
/
g
na
nua
/
formh
r
na
n
-
dar
s
/
formh
r
na
n
-
dar
s
/
formh
r
na
n
-
dar
s
/
formh
r
na
n
-
dar
s
/
formh
r
na
n
-
dar
s
/
imoibreoir
n
icl
ach
/
imoibreoir
n
icl
ach
/
imoibreoir
n
icl
ach
/
sean
-
airteagal
/
seanairteagal
/
bunioncaim
/
bun
-
ioncaim
/
buanorduithe
/
buan
-
orduithe
/
r
n
-
athair
/
r
n
-
athair
/
cl
r
na
n
-
bhar
/
cl
r
na
n
-
bhar
/
ceol
na
ndaoine
/
ceol
na
ndaoine
/
t
im
i
ngr
leat
/
t
im
i
ngr
leat
/
c
n
t
-
am
?
/
c
n
t
-
am
?
/
c
n
t
-
am
?
/
c
n
t
-
am
?
/
c
n
t
-
am
?
/
tar
ar
ais
!
/
tar
ar
ais
!
/
t
an
t
-
dh
orm
inniu
!
/
t
an
t
-
dh
orm
inniu
!
/
t
an
t
-
dh
orm
inniu
!
/
t
an
t
-
dh
orm
inniu
!
/
t
an
t
-
dh
orm
inniu
!
/
rud
t
bhachtach
/
rud
t
bhachtach
/
rud
t
bhachtach
/
den
obair
an
t
-
eolas
/
den
obair
an
t
-
eolas
/
den
obair
an
t
-
eolas
/
den
obair
an
t
-
eolas
/
den
obair
an
t
-
eolas
/
an
t
-
ileamh
a
oc
/
an
t
-
ileamh
a
oc
/
an
t
-
ileamh
a
oc
/
an
t
-
ileamh
a
oc
/
an
t
-
ileamh
a
oc
/
an
t
-
inneall
cuardaigh
is
fearr
/
an
t
-
inneall
cuardaigh
is
fearr
/
an
t
-
inneall
cuardaigh
is
fearr
/
an
t
-
inneall
cuardaigh
is
fearr
/
an
t
-
inneall
cuardaigh
is
fearr
/
an
t
-
ochtar
a
chur
in
uachtar
/
an
t
-
ochtar
a
chur
in
uachtar
/
an
t
-
ochtar
a
chur
in
uachtar
/
an
t
-
ochtar
a
chur
in
uachtar
/
an
t
-
ochtar
a
chur
in
uachtar
/
tabhair
an
t
-
ord
seo
d
!
/
tabhair
an
t
-
ord
seo
d
!
/
tabhair
an
t
-
ord
seo
d
!
/
tabhair
an
t
-
ord
seo
d
!
/
tabhair
an
t
-
ord
seo
d
!
/
t
an
t
-
r
bu
aige
.
/
t
an
t
-
r
bu
aige
.
/
t
an
t
-
r
bu
aige
.
/
t
an
t
-
r
bu
aige
.
/
t
an
t
-
r
bu
aige
.
/
an
t
-
uisce
beatha
ar
an
t
bla
.
/
an
t
-
uisce
beatha
ar
an
t
bla
.
/
an
t
-
uisce
beatha
ar
an
t
bla
.
/
an
t
-
uisce
beatha
ar
an
t
bla
.
/
an
t
-
uisce
beatha
ar
an
t
bla
.
/
an
t
-
rsc
al
is
deireana
/
an
t
-
rsc
al
is
deireana
/
an
t
-
rsc
al
is
deireana
/
an
t
-
rsc
al
is
deireana
/
an
t
-
rsc
al
is
deireana
/
dr
acht
-
acht
/
dr
achtphlean
/
dr
acht
-
phlean
/
dr
acht
-
oca
ocht
/
itainmneacha
/
it
-
ainmneacha
/
st
turraithe
/
st
t
-
urraithe
/
ar
aon
tsl
/
ar
aon
tsl
/
amach
n
tsn
thaid
/
amach
n
tsn
thaid
/
ar
an
tsr
id
/
ar
an
tsr
id
/
caint
an
tsr
idbhaile
/
caint
an
tsr
idbhaile
/
cora
crua
an
tsaoil
/
cora
crua
an
tsaoil
/
bholadh
an
ts
ile
/
bholadh
an
ts
ile
/
uair
sa
tseachtain
/
uair
sa
tseachtain
/
deireadh
an
ts
as
ir
/
deireadh
an
ts
as
ir
/
fear
an
tsiopa
/
fear
an
tsiopa
/
an
ts
och
in
a
choime
d
/
an
ts
och
in
a
choime
d
/
an
tsocha
faisn
ise
/
an
tsocha
faisn
ise
/
gaoth
an
ts
l
is
/
gaoth
an
ts
l
is
/
is
beag
an
tsuim
iad
/
is
beag
an
tsuim
iad
/
infheicthe
ag
an
ts
il
/
infheicthe
ag
an
ts
il
/
scr
obhfaidh
/
scr
obhfaidh
/
preabphas
/
preabphas
/
s
idtear
/
s
idtear
/
snagcheol
/
snagcheol
/
in
-
athnuaite
agatsa
/
in
-
athnuaite
agatsa
/
teanga
dhomhanda
/
teanga
dhomhanda
/
r
altsruth
/
r
altsruth
/
na
hata
/
na
hata
/
t
-
l
ine
/
t
-
l
ine
/
t
-
l
ine
/
t
-
l
ine
/
torc
allta
/
torc
allta
/
tsk
tsk
tsk
a
chara
/
tsk
tsk
tsk
a
chara
<
/
body
>
<
/
html
>
