<
!
DOCTYPE
html
>
<
html
lang
=
"
ga
-
IE
"
>
<
head
>
<
meta
charset
=
"
utf
-
8
"
>
<
title
>
Test
for
Irish
uppercasing
<
/
title
>
<
style
>
body
{
font
:
16px
/
20px
monospace
;
text
-
transform
:
none
;
}
<
/
style
>
<
/
head
>
<
body
>
ORD
NA
bhFOCAL
/
COS
N
NA
bhFIL
/
R
bPOBAL
/
N
RA
NA
bPORTACH
/
I
dTOSACH
B
IRE
/
AN
GHAEILGE
I
dTUAISCEART
NA
h
IREANN
/
AS
AN
gCEANTAR
SIN
/
I
gCONTAE
NA
M
AGUS
I
gCONAMARA
/
D
hAOINE
/
OIRTHEAR
NA
h
ISE
/
PARLAIMINT
NA
hEORPA
/
POBLACHT
NA
h
IREANN
/
EALA
N
NA
hIOD
ILE
/
NA
h
OS
NAIGH
/
ACADAMH
NA
hOLLSCOLA
OCHTA
/
T
R
NA
h
IGE
/
TOGHCH
N
NA
hUACHTAR
NACHTA
/
NA
h
DAR
IS
CH
NACH
/
I
mBUN
MO
MHACHNAMH
/
I
mB
AL
FEIRSTE
AGUS
I
mBAILE
THA
CLIATH
/
R
nACMHAINN
UISCE
/
EOLA
OCHT
NA
n
BHAR
/
LUCHT
NA
nEALA
ON
/
CEOL
NA
n
AN
/
ORD
NA
nIMEACHTA
/
LUCHT
ADHARTHA
NA
n
OMH
NNA
/
GN
ITHE
D
R
nOIDHREACHT
/
CULT
R
NA
n
G
/
OCHT
nUAIRE
SA
L
/
FORMH
R
NA
n
DAR
S
/
R
nATHAIR
/
CL
R
NA
n
BHAR
/
LOCH
nEATHACH
/
CUMANN
NA
n
IREANNACH
AONTAITHE
/
GR
AS
N
NA
nIONTAS
/
N
IBH
SEACHT
NA
n
OS
NACH
/
I
gCEANTAR
NA
nOILE
N
/
T
R
NA
n
G
/
BAILE
NA
nULTACH
/
GORT
NA
n
LL
/
CEOL
NA
nDAOINE
/
I
nD
N
NA
nGALL
/
T
IM
I
nGR
LEAT
/
LABHAIR
S
I
nGAEILGE
!
/
C
N
tAM
?
/
T
AN
t
DH
ORM
INNIU
!
/
DEN
OBAIR
AN
tEOLAS
/
AN
t
ILEAMH
A
OC
/
AN
tINNEALL
CUARDAIGH
IS
FEARR
/
AN
t
OCHTAR
A
CHUR
IN
UACHTAR
/
TABHAIR
AN
tORD
SEO
D
!
/
T
AN
t
R
BU
AIGE
.
/
AN
tUISCE
BEATHA
AR
AN
T
BLA
.
/
AN
t
RSC
AL
IS
DEIREANA
/
AN
tACHT
OIDEACHAIS
/
AN
t
IV
M
IRIA
/
AN
tEARRACH
ARABACH
/
AN
t
IR
AMACH
/
AN
tIMEALL
/
AN
t
OS
NACH
PEADAR
CANISIUS
/
AN
tOILE
NACH
/
AN
t
R
MUIRE
/
AN
tUASAL
AMON
CU
V
/
AN
t
DAR
S
UM
B
ITHRE
N
ISI
NTA
/
AR
AON
tSL
/
B
AL
THA
AN
tSL
IBHE
/
AMACH
N
tSN
THAID
/
BANR
ON
AN
tSNEACHTA
/
AR
AN
tSR
ID
/
CAINT
AN
tSR
IDBHAILE
/
CORA
CRUA
AN
tSAOIL
/
BHOLADH
AN
tS
ILE
/
UAIR
SA
tSEACHTAIN
/
DEIREADH
AN
tS
AS
IR
/
FEAR
AN
tSIOPA
/
AN
tS
OCH
IN
A
CHOIME
D
/
AN
tSOCHA
FAISN
ISE
/
GAOTH
AN
tS
L
IS
/
IS
BEAG
AN
tSUIM
IAD
/
INFHEICTHE
AG
AN
tS
IL
/
CNOC
AN
tSAMHRAIDH
/
CIONN
tS
ILE
/
AN
tSEIRBH
S
PHOIBL
/
BAILE
AN
tS
IP
IL
/
AN
tSIRIA
/
AN
tS
N
/
OIFIG
AN
tSOL
THAIR
/
POLL
AN
tS
MAIS
/
EOLAIRE
AN
tSU
MH
/
CASADH
AN
tS
G
IN
/
SCR
OBHFAIDH
/
PREABPHAS
/
S
IDTEAR
/
SNAGCHEOL
/
ST
ITSE
IMBOLC
/
IN
-
ATHNUAITE
AGATSA
/
TEANGA
DHOMHANDA
/
R
ALTSRUTH
/
NA
HATA
/
NA
HATA
/
R
NATHAIR
/
R
NATHAIR
/
T
-
L
INE
/
TORC
ALLTA
/
TSK
TSK
TSK
A
CHARA
<
/
body
>
<
/
html
>
