<
!
DOCTYPE
html
>
<
html
lang
=
"
ga
"
>
<
head
>
<
meta
charset
=
"
utf
-
8
"
>
<
title
>
Test
for
Irish
lowercasing
<
/
title
>
<
style
>
body
{
font
:
16px
/
20px
monospace
;
text
-
transform
:
lowercase
;
}
<
/
style
>
<
/
head
>
<
body
>
R
nACMHAINN
UISCE
/
R
N
-
ACMHAINN
UISCE
/
r
nAcmhainn
Uisce
/
r
n
-
Acmhainn
Uisce
/
r
n
-
acmhainn
uisce
/
r
nathair
/
R
NATHAIR
/
r
Nathair
/
N
-
a
shaighdi
ir
/
gan
dul
as
aca
ach
le
nA
chabhair
/
EOLA
OCHT
NA
n
BHAR
/
EOLA
OCHT
NA
n
-
BHAR
/
Eola
ocht
na
n
bhar
/
Eola
ocht
na
n
-
bhar
/
eola
ocht
na
n
-
bhar
/
Amhr
n
n
isi
nta
/
Amhr
n
N
isi
nta
/
AMHR
N
N
ISI
NTA
/
LUCHT
NA
nEALA
ON
/
LUCHT
NA
n
-
EALA
ON
/
Lucht
na
nEala
on
/
Lucht
na
n
-
Eala
on
/
lucht
na
n
-
eala
on
/
Neart
Daoine
/
neart
daoine
/
NEART
DAOINE
/
CEOL
NA
n
AN
/
CEOL
NA
n
-
AN
/
Ceol
na
n
an
/
Ceol
na
n
-
an
/
ceol
na
n
-
an
/
Sa
N
al
/
Sa
n
al
/
SA
N
AL
/
ORD
NA
nIMEACHTA
/
ORD
NA
n
-
IMEACHTA
/
Ord
na
nImeachta
/
Ord
na
n
-
Imeachta
/
ord
na
n
-
imeachta
/
Nathair
Nimhe
/
Nathair
nimhe
/
NATHAIR
NIMHE
/
LUCHT
ADHARTHA
NA
n
OMH
NNA
/
LUCHT
ADHARTHA
NA
n
-
OMH
NNA
/
Lucht
Adhartha
na
n
omh
nna
/
Lucht
Adhartha
na
n
-
omh
nna
/
lucht
adhartha
na
n
-
omh
nna
/
N
os
Measa
/
n
os
measa
/
N
OS
MEASA
/
GN
ITHE
D
R
nOIDHREACHT
/
GN
ITHE
D
R
n
-
OIDHREACHT
/
Gn
ithe
D
r
nOidhreacht
/
Gn
ithe
D
r
n
-
Oidhreacht
/
gn
ithe
d
r
n
-
oidhreacht
/
Duine
Nochta
/
Duine
nochta
/
DUINE
NOCHTA
/
CULT
R
NA
n
G
/
CULT
R
NA
n
-
G
/
Cult
r
na
n
g
/
Cult
r
na
n
-
g
/
cult
r
na
n
-
g
/
Dh
N
im
ad
/
Dh
n
im
ad
/
DH
N
IM
AD
/
OCHT
nUAIRE
SA
L
/
OCHT
n
-
UAIRE
SA
L
/
Ocht
nUaire
Sa
L
/
Ocht
n
-
Uaire
Sa
L
/
ocht
n
-
uaire
sa
l
/
G
na
Nua
/
g
na
nua
/
G
NA
NUA
/
FORMH
R
NA
n
DAR
S
/
FORMH
R
NA
n
-
DAR
S
/
Formh
r
na
n
dar
s
/
Formh
r
na
n
-
dar
s
/
formh
r
na
n
-
dar
s
/
Imoibreoir
N
icl
ach
/
Imoibreoir
n
icl
ach
/
IMOIBREOIR
N
ICL
ACH
/
sean
-
Airteagal
/
SeanAirteagal
/
BunIoncaim
/
Bun
-
Ioncaim
/
BuanOrduithe
/
Buan
-
Orduithe
/
R
nATHAIR
/
r
nAthair
/
CL
R
NA
n
BHAR
/
Cl
r
na
n
bhar
/
CEOL
NA
nDAOINE
/
Ceol
na
nDaoine
/
T
IM
I
nGR
LEAT
/
T
im
i
nGr
Leat
/
C
N
tAM
?
/
C
N
t
-
AM
?
/
C
n
tAm
?
/
C
n
t
-
Am
?
/
c
n
t
-
am
?
/
Tar
Ar
Ais
!
/
tar
ar
ais
!
/
T
AN
t
DH
ORM
INNIU
!
/
T
AN
t
-
DH
ORM
INNIU
!
/
T
An
t
dh
Orm
Inniu
!
/
T
An
t
-
dh
Orm
Inniu
!
/
t
an
t
-
dh
orm
inniu
!
/
Rud
T
bhachtach
/
Rud
t
bhachtach
/
rud
t
bhachtach
/
DEN
OBAIR
AN
tEOLAS
/
DEN
OBAIR
AN
t
-
EOLAS
/
Den
Obair
an
tEolas
/
Den
Obair
an
t
-
Eolas
/
den
obair
an
t
-
eolas
/
AN
t
ILEAMH
A
OC
/
AN
t
-
ILEAMH
A
OC
/
An
t
ileamh
a
oc
/
An
t
-
ileamh
a
oc
/
an
t
-
ileamh
a
oc
/
AN
tINNEALL
CUARDAIGH
IS
FEARR
/
AN
t
-
INNEALL
CUARDAIGH
IS
FEARR
/
An
tInneall
Cuardaigh
Is
Fearr
/
An
t
-
Inneall
Cuardaigh
Is
Fearr
/
an
t
-
inneall
cuardaigh
is
fearr
/
AN
t
OCHTAR
A
CHUR
IN
UACHTAR
/
AN
t
-
OCHTAR
A
CHUR
IN
UACHTAR
/
An
t
ochtar
a
Chur
In
Uachtar
/
An
t
-
ochtar
a
Chur
In
Uachtar
/
an
t
-
ochtar
a
chur
in
uachtar
/
TABHAIR
AN
tORD
SEO
D
!
/
TABHAIR
AN
t
-
ORD
SEO
D
!
/
Tabhair
An
tOrd
Seo
D
!
/
Tabhair
An
t
-
Ord
Seo
D
!
/
tabhair
an
t
-
ord
seo
d
!
/
T
AN
t
R
BU
AIGE
.
/
T
AN
t
-
R
BU
AIGE
.
/
T
An
t
r
Bu
Aige
.
/
T
An
t
-
r
Bu
Aige
.
/
t
an
t
-
r
bu
aige
.
/
AN
tUISCE
BEATHA
AR
AN
T
BLA
.
/
AN
t
-
UISCE
BEATHA
AR
AN
T
BLA
.
/
An
tUisce
Beatha
Ar
An
T
bla
.
/
An
t
-
Uisce
Beatha
Ar
An
T
bla
.
/
an
t
-
uisce
beatha
ar
an
t
bla
.
/
AN
t
RSC
AL
IS
DEIREANA
/
AN
t
-
RSC
AL
IS
DEIREANA
/
An
t
rsc
al
Is
Deireana
/
An
t
-
rsc
al
Is
Deireana
/
an
t
-
rsc
al
is
deireana
/
Dr
acht
-
Acht
/
Dr
achtPhlean
/
Dr
acht
-
Phlean
/
Dr
acht
-
oca
ocht
/
itAinmneacha
/
it
-
Ainmneacha
/
St
tUrraithe
/
St
t
-
Urraithe
/
AR
AON
tSL
/
Ar
Aon
tSl
/
AMACH
N
tSN
THAID
/
Amach
n
tSn
thaid
/
AR
AN
tSR
ID
/
Ar
An
tSr
id
/
CAINT
AN
tSR
IDBHAILE
/
Caint
An
tSr
idbhaile
/
CORA
CRUA
AN
tSAOIL
/
Cora
Crua
An
tSaoil
/
BHOLADH
AN
tS
ILE
/
Bholadh
An
tS
ile
/
UAIR
SA
tSEACHTAIN
/
Uair
Sa
tSeachtain
/
DEIREADH
AN
tS
AS
IR
/
Deireadh
An
tS
as
ir
/
FEAR
AN
tSIOPA
/
Fear
an
tSiopa
/
AN
tS
OCH
IN
A
CHOIME
D
/
An
tS
och
in
a
Choime
d
/
AN
tSOCHA
FAISN
ISE
/
An
tSocha
Faisn
ise
/
GAOTH
AN
tS
L
IS
/
Gaoth
aN
tS
l
is
/
IS
BEAG
AN
tSUIM
IAD
/
Is
Beag
An
tSuim
Iad
/
INFHEICTHE
AG
AN
tS
IL
/
Infheicthe
Ag
An
tS
il
/
SCR
OBHFAIDH
/
Scr
obhfaidh
/
PREABPHAS
/
Preabphas
/
S
IDTEAR
/
s
idtear
/
SNAGCHEOL
/
Snagcheol
/
IN
-
ATHNUAITE
AGATSA
/
In
-
Athnuaite
AGATSA
/
TEANGA
DHOMHANDA
/
Teanga
Dhomhanda
/
R
ALTSRUTH
/
R
altsruth
/
NA
HATA
/
Na
Hata
/
T
-
L
INE
/
T
-
L
ine
/
t
-
L
ine
/
t
-
l
ine
/
TORC
ALLTA
/
Torc
Allta
/
TSK
TSK
TSK
A
CHARA
/
Tsk
Tsk
Tsk
a
Chara
<
/
body
>
<
/
html
>
