<
!
DOCTYPE
html
>
<
html
lang
=
"
ga
-
IE
"
>
<
head
>
<
meta
charset
=
"
utf
-
8
"
>
<
title
>
Test
for
Irish
uppercasing
<
/
title
>
<
style
>
body
{
font
:
16px
/
20px
monospace
;
text
-
transform
:
uppercase
;
}
<
/
style
>
<
/
head
>
<
body
>
ord
na
bhfocal
/
Cos
n
na
bhFil
/
r
bpobal
/
N
ra
na
bPortach
/
i
dtosach
b
ire
/
An
Ghaeilge
i
dTuaisceart
na
h
ireann
/
as
an
gceantar
sin
/
I
gContae
na
M
agus
i
gConamara
/
D
hAoine
/
Oirthear
na
h
ise
/
Parlaimint
na
hEorpa
/
Poblacht
na
h
ireann
/
Eala
n
na
hIod
ile
/
na
h
os
naigh
/
Acadamh
na
hOllscola
ochta
/
T
r
na
h
ige
/
toghch
n
na
hUachtar
nachta
/
na
h
dar
is
Ch
nach
/
I
mbun
mo
mhachnamh
/
I
mB
al
Feirste
agus
i
mBaile
tha
Cliath
/
r
n
-
acmhainn
uisce
/
eola
ocht
na
n
-
bhar
/
lucht
na
n
-
eala
on
/
ceol
na
n
-
an
/
ord
na
n
-
imeachta
/
lucht
adhartha
na
n
-
omh
nna
/
gn
ithe
d
r
n
-
oidhreacht
/
cult
r
na
n
-
g
/
ocht
n
-
uaire
sa
l
/
formh
r
na
n
-
dar
s
/
r
nAthair
/
Cl
r
na
n
bhar
/
Loch
nEathach
/
Cumann
na
n
ireannach
Aontaithe
/
Gr
as
n
na
nIontas
/
n
ibh
seacht
na
n
os
nach
/
i
gCeantar
na
nOile
n
/
T
r
na
n
g
/
Baile
na
nUltach
/
Gort
na
n
ll
/
ceol
na
ndaoine
/
i
nD
n
na
nGall
/
t
im
i
ngr
leat
/
labhair
s
i
nGaeilge
!
/
c
n
t
-
am
?
/
t
an
t
-
dh
orm
inniu
!
/
Den
obair
an
t
-
eolas
/
An
t
-
ileamh
a
oc
/
an
t
-
inneall
cuardaigh
is
fearr
/
an
t
-
ochtar
a
chur
in
uachtar
/
Tabhair
an
t
-
ord
seo
d
!
/
T
an
t
-
r
bu
aige
.
/
an
t
-
uisce
beatha
ar
an
t
bla
.
/
an
t
-
rsc
al
is
deireana
/
An
tAcht
Oideachais
/
an
t
iv
M
iria
/
An
tEarrach
Arabach
/
An
t
ir
Amach
/
An
tImeall
/
An
t
os
nach
Peadar
Canisius
/
An
tOile
nach
/
An
t
r
Muire
/
an
tUasal
amon
Cu
v
/
An
t
dar
s
um
B
ithre
N
isi
nta
/
ar
aon
tsl
/
B
al
tha
an
tSl
ibhe
/
Amach
n
tsn
thaid
/
Banr
on
an
tSneachta
/
ar
an
tsr
id
/
Caint
an
tSr
idbhaile
/
cora
crua
an
tsaoil
/
bholadh
an
ts
ile
/
uair
sa
tseachtain
/
deireadh
an
ts
as
ir
/
fear
an
tsiopa
/
an
ts
och
in
a
choime
d
/
an
tsocha
faisn
ise
/
gaoth
an
ts
l
is
/
Is
beag
an
tsuim
iad
/
infheicthe
ag
an
ts
il
/
Cnoc
an
tSamhraidh
/
Cionn
tS
ile
/
an
tSeirbh
s
Phoibl
/
Baile
an
tS
ip
il
/
An
tSiria
/
An
tS
n
/
Oifig
an
tSol
thair
/
Poll
an
tS
mais
/
Eolaire
an
tSu
mh
/
Casadh
an
tS
g
in
/
scr
obhfaidh
/
preabphas
/
s
idtear
/
snagcheol
/
St
itse
Imbolc
/
in
-
athnuaite
agatsa
/
Teanga
Dhomhanda
/
R
altsruth
/
na
hata
/
Na
Hata
/
r
nathair
/
r
Nathair
/
t
-
l
ine
/
torc
allta
/
tsk
tsk
tsk
a
chara
<
/
body
>
<
/
html
>
