<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
meta
http
-
equiv
=
"
Content
-
Type
"
content
=
"
text
/
html
;
charset
=
utf
-
8
"
>
<
title
>
Test
for
Turkish
small
-
caps
behavior
<
/
title
>
<
style
type
=
"
text
/
css
"
>
font
-
face
{
font
-
family
:
libertine
;
src
:
url
(
.
.
/
fonts
/
LinLibertine_Re
-
4
.
7
.
5
.
woff
)
;
}
div
{
font
-
family
:
libertine
;
}
<
/
style
>
<
/
head
>
<
body
>
<
div
lang
=
"
en
"
style
=
"
font
-
variant
:
small
-
caps
"
>
Evrensel
Kod
her
yaz
karakteri
i
in
bir
ve
yaln
z
bir
say
art
ko
ar
hangi
altyap
hangi
yaz
l
m
hangi
dil
olursa
olsun
.
<
/
div
>
<
/
body
>
<
/
html
>
