<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
meta
http
-
equiv
=
"
Content
-
Type
"
content
=
"
text
/
html
;
charset
=
utf
-
8
"
>
<
title
>
Test
for
Turkish
casing
behavior
<
/
title
>
<
/
head
>
<
body
>
<
div
lang
=
"
tr
"
style
=
"
text
-
transform
:
uppercase
"
>
Evrensel
Kod
her
yaz
karakteri
i
in
bir
ve
yaln
z
bir
say
art
ko
ar
hangi
altyap
hangi
yaz
l
m
hangi
dil
olursa
olsun
.
<
/
div
>
<
div
lang
=
"
tr
"
style
=
"
text
-
transform
:
lowercase
"
>
EVRENSEL
KOD
HER
YAZI
KARAKTER
N
B
R
VE
YALNIZ
B
R
SAYI
ART
KO
AR
HANG
ALTYAPI
HANG
YAZILIM
HANG
D
L
OLURSA
OLSUN
.
<
/
div
>
<
div
lang
=
"
tr
"
style
=
"
text
-
transform
:
capitalize
"
>
Evrensel
Kod
her
yaz
karakteri
i
in
bir
ve
yaln
z
bir
say
art
ko
ar
hangi
altyap
hangi
yaz
l
m
hangi
dil
olursa
olsun
.
<
/
div
>
<
/
body
>
<
/
html
>
