<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
meta
http
-
equiv
=
"
Content
-
Type
"
content
=
"
text
/
html
;
charset
=
utf
-
8
"
>
<
title
>
Test
for
Turkish
casing
behavior
<
/
title
>
<
/
head
>
<
body
>
<
div
lang
=
"
tr
"
>
EVRENSEL
KOD
HER
YAZI
KARAKTER
N
B
R
VE
YALNIZ
B
R
SAYI
ART
KO
AR
HANG
ALTYAPI
HANG
YAZILIM
HANG
D
L
OLURSA
OLSUN
.
<
/
div
>
<
div
lang
=
"
tr
"
>
evrensel
kod
her
yaz
karakteri
i
in
bir
ve
yaln
z
bir
say
art
ko
ar
hangi
altyap
hangi
yaz
l
m
hangi
dil
olursa
olsun
.
<
/
div
>
<
div
lang
=
"
tr
"
>
Evrensel
Kod
Her
Yaz
Karakteri
in
Bir
Ve
Yaln
z
Bir
Say
art
Ko
ar
Hangi
Altyap
Hangi
Yaz
l
m
Hangi
Dil
Olursa
Olsun
.
<
/
div
>
<
/
body
>
<
/
html
>
