<
HEAD
>
<
BGSOUND
STYLE
=
"
"
STYLE
=
"
"
LOOP
=
"
top
"
LOOP
=
-
>
LOOP
=
LOOP
=
%
n
%
n
%
n
%
n
%
n
%
n
LOOP
=
"
E
"
onLoad
=
"
-
m
"
SRC
%
n
%
n
%
n
%
n
%
n
%
n
STYLE
=
onLoad
=
#
SRC
=
#
SRC
=
"
-
.
"
STYLE
=
RRRRRRRR
>
<
IMG
START
=
&
;
START
=
"
left
"
>
<
BGSOUND
STYLE
=
-
SRC
=
"
"
STYLE
=
"
&
"
-
"
;
"
LOOP
=
(
(
SRC
=
"
javascript
:
"
_self
"
"
-
LOOP
=
#
STYLE
=
LOOP
=
"
8888
"
LOOP
=
"
-
1
"
"
\
\
\
\
"
SRC
=
"
"
SRC
=
"
-
"
SRC
=
"
w
"
LOOP
=
"
-
"
LOOP
=
LOOP
=
STYLE
=
-
STYLE
=
"
"
"
"
STYLEl
>
