/
/
nova
-
cleanup
(
merge
-
styles
)
:
Move
to
components
/
DiscoveryStreamComponents
/
CardSections
/
_CardSections
.
scss
.
section
-
title
-
wrapper
{
display
:
flex
;
flex
-
wrap
:
wrap
;
align
-
items
:
center
;
column
-
gap
:
var
(
-
-
space
-
large
)
;
.
section
-
subtitle
{
flex
-
basis
:
100
%
;
}
}
.
ds
-
section
.
section
-
follow
.
ds
-
section
.
section
-
context
-
menu
{
include
wallpaper
-
contrast
-
fix
;
}
.
ds
-
section
.
section
-
follow
{
moz
-
button
:
:
part
(
moz
-
button
-
label
)
{
display
:
none
;
}
moz
-
button
:
hover
:
:
part
(
moz
-
button
-
label
)
moz
-
button
:
focus
-
within
:
:
part
(
moz
-
button
-
label
)
{
display
:
revert
;
}
}
