[
Desktop
Entry
]
Version
=
1
.
0
Name
=
Firefox
Web
Browser
Name
[
ar
]
=
Name
[
ast
]
=
Restolador
web
Firefox
Name
[
bn
]
=
Name
[
ca
]
=
Navegador
web
Firefox
Name
[
cs
]
=
Firefox
Webov
prohl
e
Name
[
da
]
=
Firefox
-
internetbrowser
Name
[
el
]
=
Firefox
Name
[
es
]
=
Navegador
web
Firefox
Name
[
et
]
=
Firefoxi
veebibrauser
Name
[
fa
]
=
Firefox
Name
[
fi
]
=
Firefox
-
selain
Name
[
fr
]
=
Navigateur
Web
Firefox
Name
[
gl
]
=
Navegador
web
Firefox
Name
[
he
]
=
Firefox
Name
[
hr
]
=
Firefox
web
preglednik
Name
[
hu
]
=
Firefox
webb
ng
sz
Name
[
it
]
=
Firefox
Browser
Web
Name
[
ja
]
=
Firefox
Name
[
ko
]
=
Firefox
Name
[
ku
]
=
Geroka
tor
Firefox
Name
[
lt
]
=
Firefox
interneto
nar
ykl
Name
[
nb
]
=
Firefox
Nettleser
Name
[
nl
]
=
Firefox
webbrowser
Name
[
nn
]
=
Firefox
Nettlesar
Name
[
no
]
=
Firefox
Nettleser
Name
[
pl
]
=
Przegl
darka
WWW
Firefox
Name
[
pt
]
=
Firefox
Navegador
Web
Name
[
pt_BR
]
=
Navegador
Web
Firefox
Name
[
ro
]
=
Firefox
Navigator
Internet
Name
[
ru
]
=
-
Firefox
Name
[
sk
]
=
Firefox
-
internetov
prehliada
Name
[
sl
]
=
Firefox
spletni
brskalnik
Name
[
sv
]
=
Firefox
webbl
sare
Name
[
tr
]
=
Firefox
Web
Taray
c
s
Name
[
ug
]
=
Firefox
Name
[
uk
]
=
-
Firefox
Name
[
vi
]
=
Tr
nh
duy
t
web
Firefox
Name
[
zh_CN
]
=
Firefox
Name
[
zh_TW
]
=
Firefox
Comment
=
Browse
the
World
Wide
Web
Comment
[
ar
]
=
Comment
[
ast
]
=
Restola
pela
Rede
Comment
[
bn
]
=
Comment
[
ca
]
=
Navegueu
per
la
web
Comment
[
cs
]
=
Prohl
en
str
nek
World
Wide
Webu
Comment
[
da
]
=
Surf
p
internettet
Comment
[
de
]
=
Im
Internet
surfen
Comment
[
el
]
=
(
Web
)
Comment
[
es
]
=
Navegue
por
la
web
Comment
[
et
]
=
Lehitse
veebi
Comment
[
fa
]
=
Comment
[
fi
]
=
Selaa
Internetin
WWW
-
sivuja
Comment
[
fr
]
=
Naviguer
sur
le
Web
Comment
[
gl
]
=
Navegar
pola
rede
Comment
[
he
]
=
Comment
[
hr
]
=
Pretra
ite
web
Comment
[
hu
]
=
A
vil
gh
l
b
ng
sz
se
Comment
[
it
]
=
Esplora
il
web
Comment
[
ja
]
=
Comment
[
ko
]
=
Comment
[
ku
]
=
Li
tor
bigere
Comment
[
lt
]
=
Nar
ykite
internete
Comment
[
nb
]
=
Surf
p
nettet
Comment
[
nl
]
=
Verken
het
internet
Comment
[
nn
]
=
Surf
p
nettet
Comment
[
no
]
=
Surf
p
nettet
Comment
[
pl
]
=
Przegl
danie
stron
WWW
Comment
[
pt
]
=
Navegue
na
Internet
Comment
[
pt_BR
]
=
Navegue
na
Internet
Comment
[
ro
]
=
Naviga
i
pe
Internet
Comment
[
ru
]
=
Comment
[
sk
]
=
Prehliadanie
internetu
Comment
[
sl
]
=
Brskajte
po
spletu
Comment
[
sv
]
=
Surfa
p
webben
Comment
[
tr
]
=
nternet
'
te
Gezinin
Comment
[
ug
]
=
Comment
[
uk
]
=
Comment
[
vi
]
=
duy
t
c
c
trang
web
Comment
[
zh_CN
]
=
Comment
[
zh_TW
]
=
GenericName
=
Web
Browser
GenericName
[
ar
]
=
GenericName
[
ast
]
=
Restolador
Web
GenericName
[
bn
]
=
GenericName
[
ca
]
=
Navegador
web
GenericName
[
cs
]
=
Webov
prohl
e
GenericName
[
da
]
=
Webbrowser
GenericName
[
el
]
=
GenericName
[
es
]
=
Navegador
web
GenericName
[
et
]
=
Veebibrauser
GenericName
[
fa
]
=
GenericName
[
fi
]
=
WWW
-
selain
GenericName
[
fr
]
=
Navigateur
Web
GenericName
[
gl
]
=
Navegador
Web
GenericName
[
he
]
=
GenericName
[
hr
]
=
Web
preglednik
GenericName
[
hu
]
=
Webb
ng
sz
GenericName
[
it
]
=
Browser
web
GenericName
[
ja
]
=
GenericName
[
ko
]
=
GenericName
[
ku
]
=
Geroka
tor
GenericName
[
lt
]
=
Interneto
nar
ykl
GenericName
[
nb
]
=
Nettleser
GenericName
[
nl
]
=
Webbrowser
GenericName
[
nn
]
=
Nettlesar
GenericName
[
no
]
=
Nettleser
GenericName
[
pl
]
=
Przegl
darka
WWW
GenericName
[
pt
]
=
Navegador
Web
GenericName
[
pt_BR
]
=
Navegador
Web
GenericName
[
ro
]
=
Navigator
Internet
GenericName
[
ru
]
=
-
GenericName
[
sk
]
=
Internetov
prehliada
GenericName
[
sl
]
=
Spletni
brskalnik
GenericName
[
sv
]
=
Webbl
sare
GenericName
[
tr
]
=
Web
Taray
c
GenericName
[
ug
]
=
GenericName
[
uk
]
=
-
GenericName
[
vi
]
=
Tr
nh
duy
t
Web
GenericName
[
zh_CN
]
=
GenericName
[
zh_TW
]
=
Keywords
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
Keywords
[
ar
]
=
;
;
;
;
Keywords
[
ast
]
=
Internet
;
WWW
;
Restolador
;
Web
;
Esplorador
Keywords
[
ca
]
=
Internet
;
WWW
;
Navegador
;
Web
;
Explorador
;
Explorer
Keywords
[
cs
]
=
Internet
;
WWW
;
Prohl
e
;
Web
;
Explorer
Keywords
[
da
]
=
Internet
;
Internettet
;
WWW
;
Browser
;
Browse
;
Web
;
Surf
;
Nettet
Keywords
[
de
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
Webseite
;
Site
;
surfen
;
online
;
browsen
Keywords
[
el
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
;
;
Firefox
;
;
Keywords
[
es
]
=
Explorador
;
Internet
;
WWW
Keywords
[
fi
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
selain
;
Internet
-
selain
;
internetselain
;
verkkoselain
;
netti
;
surffaa
Keywords
[
fr
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
Fureteur
;
Surfer
;
Navigateur
Keywords
[
he
]
=
;
;
;
;
;
;
;
Keywords
[
hr
]
=
Internet
;
WWW
;
preglednik
;
Web
Keywords
[
hu
]
=
Internet
;
WWW
;
B
ng
sz
;
Web
;
H
l
;
Net
;
Explorer
Keywords
[
it
]
=
Internet
;
WWW
;
Browser
;
Web
;
Navigatore
Keywords
[
is
]
=
Internet
;
WWW
;
Vafri
;
Vefur
;
Netvafri
;
Flakk
Keywords
[
ja
]
=
Internet
;
WWW
;
Web
;
;
;
;
Keywords
[
nb
]
=
Internett
;
WWW
;
Nettleser
;
Explorer
;
Web
;
Browser
;
Nettside
Keywords
[
nl
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
Verkenner
;
Website
;
Surfen
;
Online
Keywords
[
pt
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorador
;
Navegador
Keywords
[
pt_BR
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorador
;
Navegador
Keywords
[
ru
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
;
;
;
;
Keywords
[
sk
]
=
Internet
;
WWW
;
Prehliada
;
Web
;
Explorer
Keywords
[
sl
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
Brskalnik
;
Splet
Keywords
[
tr
]
=
nternet
;
WWW
;
Taray
c
;
Web
;
Gezgin
;
Web
sitesi
;
Site
;
s
rf
;
evrimi
i
;
tara
Keywords
[
uk
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
;
;
;
;
;
;
;
;
Keywords
[
vi
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
Tr
nh
duy
t
;
Trang
web
Keywords
[
zh_CN
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
;
;
;
;
Firefox
;
ff
;
;
;
Keywords
[
zh_TW
]
=
Internet
;
WWW
;
Browser
;
Web
;
Explorer
;
;
;
;
;
;
Exec
=
firefox
%
u
Terminal
=
false
X
-
MultipleArgs
=
false
Type
=
Application
Icon
=
/
browser
/
chrome
/
icons
/
default
/
default128
.
png
Categories
=
GNOME
;
GTK
;
Network
;
WebBrowser
;
MimeType
=
text
/
html
;
text
/
xml
;
application
/
xhtml
+
xml
;
application
/
xml
;
application
/
rss
+
xml
;
application
/
rdf
+
xml
;
image
/
gif
;
image
/
jpeg
;
image
/
png
;
x
-
scheme
-
handler
/
http
;
x
-
scheme
-
handler
/
https
;
x
-
scheme
-
handler
/
ftp
;
x
-
scheme
-
handler
/
chrome
;
video
/
webm
;
application
/
x
-
xpinstall
;
StartupNotify
=
true
Actions
=
NewWindow
;
NewPrivateWindow
;
[
Desktop
Action
NewWindow
]
Name
=
Open
a
New
Window
Name
[
ar
]
=
Name
[
ast
]
=
Abrir
una
ventana
nueva
Name
[
bn
]
=
Abrir
una
ventana
nueva
Name
[
ca
]
=
Obre
una
finestra
nova
Name
[
cs
]
=
Otev
t
nov
okno
Name
[
da
]
=
bn
et
nyt
vindue
Name
[
de
]
=
Ein
neues
Fenster
ffnen
Name
[
el
]
=
Name
[
es
]
=
Abrir
una
ventana
nueva
Name
[
fi
]
=
Avaa
uusi
ikkuna
Name
[
fr
]
=
Ouvrir
une
nouvelle
fen
tre
Name
[
gl
]
=
Abrir
unha
nova
xanela
Name
[
he
]
=
Name
[
hr
]
=
Otvori
novi
prozor
Name
[
hu
]
=
j
ablak
nyit
sa
Name
[
it
]
=
Apri
una
nuova
finestra
Name
[
ja
]
=
Name
[
ko
]
=
Name
[
ku
]
=
Paceyeke
n
veke
Name
[
lt
]
=
Atverti
nauj
lang
Name
[
nb
]
=
pne
et
nytt
vindu
Name
[
nl
]
=
Nieuw
venster
openen
Name
[
pt
]
=
Abrir
nova
janela
Name
[
pt_BR
]
=
Abrir
nova
janela
Name
[
ro
]
=
Deschide
o
fereastr
nou
Name
[
ru
]
=
Name
[
sk
]
=
Otvori
nov
okno
Name
[
sl
]
=
Odpri
novo
okno
Name
[
sv
]
=
ppna
ett
nytt
f
nster
Name
[
tr
]
=
Yeni
pencere
a
Name
[
ug
]
=
Name
[
uk
]
=
Name
[
vi
]
=
M
c
a
s
m
i
Name
[
zh_CN
]
=
Name
[
zh_TW
]
=
Exec
=
firefox
-
new
-
window
[
Desktop
Action
NewPrivateWindow
]
Name
=
Open
a
New
Private
Window
Name
[
ar
]
=
Name
[
ca
]
=
Obre
una
finestra
nova
en
mode
d
'
inc
gnit
Name
[
de
]
=
Ein
neues
privates
Fenster
ffnen
Name
[
es
]
=
Abrir
una
ventana
privada
nueva
Name
[
fi
]
=
Avaa
uusi
yksityinen
ikkuna
Name
[
fr
]
=
Ouvrir
une
nouvelle
fen
tre
de
navigation
priv
e
Name
[
he
]
=
Name
[
hu
]
=
j
priv
t
ablak
nyit
sa
Name
[
it
]
=
Apri
una
nuova
finestra
anonima
Name
[
nb
]
=
pne
et
nytt
privat
vindu
Name
[
ru
]
=
Name
[
sl
]
=
Odpri
novo
okno
zasebnega
brskanja
Name
[
tr
]
=
Yeni
bir
pencere
a
Name
[
uk
]
=
Name
[
zh_TW
]
=
Exec
=
firefox
-
private
-
window
