/
*
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
*
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
*
file
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
*
/
:
host
{
-
-
color
-
accent
-
primary
:
light
-
dark
(
var
(
-
-
color
-
gray
-
50
)
var
(
-
-
color
-
gray
-
70
)
)
;
}
.
monitors
-
section
h3
{
margin
-
top
:
0
;
margin
-
bottom
:
var
(
-
-
space
-
large
)
;
font
-
size
:
var
(
-
-
font
-
size
-
large
)
;
}
.
monitors
-
list
{
display
:
flex
;
flex
-
direction
:
column
;
gap
:
var
(
-
-
space
-
medium
)
;
}
.
no
-
monitors
{
color
:
var
(
-
-
text
-
color
-
deemphasized
)
;
font
-
size
:
var
(
-
-
font
-
size
-
small
)
;
text
-
align
:
center
;
padding
:
var
(
-
-
space
-
xlarge
)
;
}
