<
!
doctype
html
>
<
meta
charset
=
"
utf
-
8
"
>
<
!
-
-
Reference
for
wrapped
-
link
-
underline
-
phase
.
html
:
the
same
document
with
no
underline
at
all
.
The
test
must
NOT
match
this
;
if
the
rounded
decoration
clip
culls
the
underline
the
two
render
identically
.
-
-
>
<
style
>
font
-
face
{
font
-
family
:
testfont
;
src
:
url
(
.
.
/
fonts
/
Prototype
.
ttf
)
;
}
html
body
{
margin
:
0
;
background
:
white
;
}
#
crop
{
padding
-
top
:
0
.
35px
;
height
:
22px
;
overflow
:
hidden
;
}
#
text
{
transform
:
matrix
(
1
0
0
1
0
0
)
;
width
:
112px
;
font
:
15px
/
21
.
5px
testfont
;
overflow
-
wrap
:
break
-
word
;
}
a
{
color
:
black
;
text
-
decoration
-
line
:
none
;
}
<
/
style
>
<
div
id
=
"
crop
"
>
<
div
id
=
"
text
"
>
<
a
href
=
"
#
"
>
product
=
Firefox
&
amp
;
channel
=
release
&
amp
;
timestamp
=
1784692800000
<
/
a
>
<
/
div
>
<
/
div
>
