/
*
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
*
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
*
file
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
*
/
/
*
*
*
www
.
lee
.
in
-
product
image
hover
-
zoom
is
broken
*
Bug
#
2018892
-
hide
the
mic
button
since
it
will
not
work
without
proper
SpeechRecogition
support
.
*
WebCompat
issue
#
209292
-
https
:
/
/
webcompat
.
com
/
issues
/
209292
*
/
#
micBtn
{
display
:
none
;
}
